[2016-02-24 18:19] brindosch commented on #486
@redPanther
Do you want/need/worldbecool/unnecessary
boolean "enabled : true/false" in the config?
Maybe you could shutdown your extension
I have no problem to add it.

[2016-02-24 18:28] redPanther commented on #486
If you do not enter hosts to forward or you comment out entire section forwarding is not enabled. Its the same thing like the xbmc section or bootsequence or boblight server or .....

I have to do some final tests before i make a PR.

[2016-02-24 19:32] giovanne123 commented on #486
@emms007 ,
ok version 0.2.
I wasn't able to get the v0.2 running in tpm2net mode for my ws2801 or ws2812. Only artnet is working for me with my ws2801 strips.
Have you configured something special (which led type)?
I will try it again...
Thanks

[2016-02-24 19:36] brindosch commented on #486
Let´s say i would suggest a value on HyperCon startup (like many other pre configured values), this value will be merged to the config.
To prevent the start it would be useful to add a enable true/false.
Or the user decide to stop using it. He could disable it in HyperCon. But the value is not removed and my personal throught: comment out is ugly.

[2016-02-24 22:41] redPanther commented on #486
ok, than leave then set the lists to [ ] That means no forward destinations defined. This will disable forwarding.
Add enable checkbox to hypercon ui and add/remove forward section to config. People who use hypercon didn't look much often in the output config.

I never productively used hypercon, because the led config is not able to generate my hardware config. I'm very happy about any comment an

[2016-02-25 03:26] penfold42 commented on #443
I use the esp8266 with native arduino support - no additional hardware.
This defines the gpio number:
#define NeoPin 2

The output in hyperion config is the host name/ip address and port number of your esp8266

I will try to consolidate some better doco in a wiki page rather than in the source !

[2016-02-25 03:58] rjb1101 opened #511 "'No such file or directory' (OSError)"
I'm using OpenELEC 6.0.1 and Hyperion 1.2.0

I get the following error when I use the Hyperion Config Creator:

OSError (2, 'No such file or directory')
Please report an error at github issue list

I'm getting this error after the screen,
"Compatible video grabber has been detected.  Do you want to enable video grabber in hyperion?"  Get the error when selecting both yes and no.

[2016-02-25 04:04] rjb1101 commented on #511
Also if it helps I'm using a Raspberry Pi 2.

[2016-02-25 06:34] redPanther commented on #443
Hi @penfold42 did you see my efforts in forwarding proto messages in issue #486 ?

This is exactly for the issue you described in the first post. The persons who tested my proto json forwarder said that it worked good. Perhaps this could work for you too.

I send images through the net. This is the esiest way to get correct image to led color mapping.

[2016-02-25 07:31] osty182 commented on #510
Just about tried everything...
I ended up cutting the last 9 LEDs and rearenging them,.. so no more flickering.

[2016-02-25 07:31] #510 closed

[2016-02-25 09:33] tpmodding commented on #486
Hi redPanther, i posted the forwarder in the german rpi-forum, to test it and get feedback.
http://www.forum-raspberrypi.de/Thread-hyperion-hyperion-mit-forwarder-funktion

sigi28 commented that the server lags when the client is not connected.

i've figured out that when i start the server manually and close the client,
i got nonstop connection errors. is it possible to fix that problem? but i do

[2016-02-25 10:33] Vincent35 opened #512 "1080p problems"
Hello,

I'm new here, so i'm sorry if I posted this in the wrong place
I've been look all over the place but can't seem to find an answer.
At the moment I've got hyperion working, I can make a screenshot and the leds are working. BUT! when I connect my pc to a hdmi splitter (which does split 1080p) and connect the HDMI splitter to a HDMI to AV converter all I get to see is a 480p image on my monit

[2016-02-25 10:37] tpmodding commented on #512
Thats a Problem of your splitter i think. Has nothing to do with Hyperion itself. Can you try Other Splitters or just try Other sources?

Von meinem iPhone gesendet

[2016-02-25 10:44] tpmodding commented on #511
could you post your config on pastebin and give us the link?

[2016-02-25 10:47] tpmodding commented on #480
Merged, can be closed?

[2016-02-25 11:14] penfold42 commented on #443
Yep, I saw it. it looks good.

In my case, the LED device is a cheap esp8266 wifi module so UDP led data is more appropriate for this use case.

I guess we need to document all the "distributed" options and architecture options hyperion now supports.

[2016-02-25 11:24] ziggy73701 opened #513 "XBMCVideoChecker - Remote KODI"
Hi, am I correct in thinking I should be able to connect to a remote kodi installation using the configuration below, or will it only work with a localhost? Am running KODI 16 on a NVIDIA Shield, if I use the service addon it works. So am happy the system is ok, I was just wondering if I could use the below to get audio etc as well... or am I missing something!?!

 	"xbmcVideoChecker" :
 	{
 		"xb

[2016-02-25 12:02] Vincent35 commented on #512
I tried two different splitters ( a $24 and a $10), both giving the same result. I connect my pc and it shows 1080p, then I connect the raspberry and it changes to 480p. forcing my pc to something above 480p results in the leds not turning on anymore. Also tried connecting the ps3 but that gives me the same result, I even had to change the ps3 to 568p so it will show up on my monitor. I also tried

[2016-02-25 12:27] tpmodding commented on #512
may the problem is at your hdmi2av?
can you open your splitter and check which one you have
http://imgur.com/gs0DUGp

we discussed the same problem in our forum, but it's german
http://www.forum-raspberrypi.de/Thread-hdmi2av-converter-welcher-funktioniert-wirklich-mit-loesung

[2016-02-25 13:08] RickDB commented on #480
Yeah tested and can be closed :+1:

[2016-02-25 13:08] #480 closed

[2016-02-25 13:10] Vincent35 commented on #512
ah, thank you so much!!  mine is the most left one, and i got two of those -_-. Do you have any tips on getting a decent one from ebay? Or is it just gonna be a hit or miss with these things?

[2016-02-25 14:17] redPanther commented on #486
I try to optimize the reconnection event. My solution is not the best here (best would be an own connection thread), but this solution fits better into current code.

Hint: the binary in my branch is not updated and I didn't want to update it, because I use - latest and greatest - archlinux. My binaries arn't compatible to raspbian and others (missing dependencies due to newer lib versions ...)

@

[2016-02-25 15:12] tpmodding commented on #486
You updated your github? I only must recompile it? if yes, i will do it later and post it in our forum to test it :+1:

[2016-02-25 15:19] redPanther commented on #486
yes I updated my branch. commit [e7a89c8](https://github.com/redPanther/hyperion/commit/e7a89c87b15fbe9809ec63468b59ecc55c6d3e72)

[2016-02-25 19:54] rjb1101 commented on #511
What is pastebin?  What do you mean by my config?

[2016-02-25 21:27] redPanther commented on #486
@tpmodding

Hint for compiling:
Edit main cmakelists.txt and remove the set(cmake_build_type debug) line.
On commandline add a
 -DCMAKE_BUILD_TYPE=Release
to your cmake .. call.
after that cd into the bin dir (where hyperiond is) and type
strip *

the compiles with all optimizations and removes all unnecessary stuff from the binaries.
BTW the size of the bins are smaller.

Happy compiling :-)

[2016-02-25 21:50] BooStars commented on #486
looks good... thank you...
if i kill one client I see
"No connection to Hyperion: 192.168.10.2:20445" on the main instance
after starting that client again:
"Connected to Hyperion: 192.168.10.2:20445"
The client says:
"Proto connection closed
New proto connection"
and starts working again immediately

I've Tested with two clients on the same host (20445 and 30445)
Soo works fine...thx

[2016-02-25 23:50] tpmodding opened #515 "NO ISSUE - IRC for support"
hey community,

it is sometimes hard to communicate on github if you only have a quick question!
I created a IRC channel on quakenet to communicate faster and easier

you can join on quaknet in channel #hyperion and ask questions, i will help you as far as possible

you can use the webchat if you dont have IRC
http://webchat.quakenet.org/?channels=hyperion&uio=d4

ps: for german support you can al

[2016-02-26 00:34] rjb1101 commented on #511
Here is the url for the pastebin:
http://pastebin.com/AyfKqUpc

This is the hyperion.config.new file that I downloaded.  I don't know if there is a file on the Pi in openELEC that you are looking for.

[2016-02-26 08:33] tpmodding commented on #425
@swetoast can be closed?

[2016-02-26 08:36] #425 closed

[2016-02-26 08:45] tpmodding commented on #427
@roblcampbell can be closed?

[2016-02-26 08:55] tpmodding commented on #452
@v0d0r can be closed?

[2016-02-26 08:56] tpmodding commented on #440
@rudelm did you fixed that problem? can it be closed?

[2016-02-26 08:58] tpmodding commented on #436
@penfold42 i think tvdzwan fixed that with the last merges? or am i wrong?

[2016-02-26 09:01] tpmodding commented on #422
@pete111 can be closed?

[2016-02-26 09:08] garfty commented on #512
I can confirm I had the exact same problem, the HDMI2AV would only output to 480p. I'm guessing there are some knock offs on Amazon and eBay, but I can confirm this one from Amazon UK http://www.amazon.co.uk/gp/product/B00A6STNHM?psc=1&redirect=true&ref_=od_aui_detailpages00 worked perfect for me.

[2016-02-26 09:43] Vincent35 commented on #512
Yeah I had a feeling the HDMI2AV was the problem but wasn't sure. The link you gave doesn't seem to ship to my country. I asume you just randomly bought a new one? or did you look for something specific?
It's great to know the source of my problem!

[2016-02-26 09:49] garfty commented on #512
Ahh that sucks, sorry to hear.

I just purchased a second one, as a total last resort before giving up. I just saw other people using that type, and went for it, as I said though, I think the first one was either faulty or a knock off.

[2016-02-26 10:35] tpmodding commented on #512
http://de.aliexpress.com/item/Free-Shipping-Mini-HD-Video-Converter-Box-HDMI-to-RCA-AV-CVSB-L-R-Video-1080P/32248986965.html?isOrig=true#extend
Dont know where you live but aliexpress ships worldwide! here you cen select which one you want :)

[2016-02-26 10:45] tpmodding commented on #494
@Samakisss can be closed?

[2016-02-26 11:55] p1n9 commented on #513
hi,
I have the same issue as you, my kodi is on a nuc.
My config :
[code]
hyperiond log show "XBMC Connected" but that's all and no led light up.
I've set http password in kodi but with or without it's the same result.

Any one have an idea ?

[2016-02-26 11:58] v0d0r commented on #452
Hi yes you can close it. Thanks for all the responses guys. I turned off hyperion daemon and the lights still went on from time to time. so in the end I just left the cron in place that sends black to the leds when kodi is idle. worse case it goes on for less than 60 seconds around once or twice a night but does not stay on..

[2016-02-26 12:27] tpmodding commented on #452
@v0d0r you must close it, i cant :)

[2016-02-26 12:51] tpmodding commented on #501
@riddleace you reopened again?

[2016-02-26 12:55] tpmodding commented on #474
could you start hyperion with the command line and post your ouput?

[2016-02-26 12:58] tpmodding commented on #472
can you paste us the complete ouput? and your config maybe (pls post your config on pastebin.com and give us the pastebin-url)

[2016-02-26 13:28] penfold42 opened #516 "Any interest in a new ws2801/SPI to ws2812 converter?"
I've been testing a new high speed 2801 to 2812 converter.

It supports attiny13. Attiny85 and atmega328 chips but will probably run on any tiny or mega with a clock speed > 8mhz.

It's designed to be fast.... Like wire speed fast with no limit to the number of leds.

[2016-02-26 13:48] riddleace commented on #501
Nop all if for now working by disabled Mediacore (Surface) in KODI

[2016-02-26 13:49] #501 closed

[2016-02-26 16:05] Samakisss commented on #494
Yes sir! :)

[2016-02-26 16:05] #494 closed

[2016-02-26 19:29] ziggy73701 commented on #493
Hi, does this script support the WS2812b driver? I can install etc.. and with a default config the service runs. Soon as I  put in the config for the ws2812b the service wont start.

[2016-02-26 19:48] cptnyehy0 commented on #493
I believe it is the same source, so its install content should be the same as the original hyperion install. I think that the main point of the update to the installer was to make it compatible with other O/Ses outside of openelec and other pieces of HW outside of the RPi. what is your hyperion output if you dont run it with the /dev/null & at the end?

[2016-02-26 20:43] mharrison310 commented on #482
Today I received a new video grabber, and the problem is resolved!

[2016-02-26 20:44] #482 closed

[2016-02-26 22:11] #436 closed

[2016-02-26 22:12] ziggy73701 commented on #493
Thanks for coming back to me, sorry but am new to all this so my knowledge is limited. when you say don't run it with dev/null at the end I have no idea what that means. I can stop start and get the status, that's pretty much it. What ever I set the device to, in my config works... unless I put ws2812b then the service fails to start. Is there a way to generate an additional log etc?

[2016-02-26 22:36] cptnyehy0 commented on #493
what system / os are you on? Under openelec, if you execute the script without the /dev/null & parameter it will run in the foreground and you can see what is going on.

https://github.com/tvdzwan/hyperion/wiki/Installation-on-RPi-with-OpenELEC

Instead of running this, which will dev null the output and run in the background:
/storage/hyperion/bin/hyperiond.sh /storage/.config/hyperion.config.jso

[2016-02-26 22:44] ziggy73701 commented on #493
The main element is
QCoreApplication initialised
Selected configuration file: /etc/hyperion.config.json
ColorTransform 'default' => [0; 175]
Device configuration:
{
        "colorOrder" : "rgb",
        "name" : "MyPi",
        "type" : "ws2812b"
}

Unable to create device ws2812b
Not creating any smoothing

[2016-02-26 22:44] brindosch commented on #493
I´m sorry to say, the images were 16 days old.
At least the old one had no compile flag for ws2812b pwm support.
Now they are even with hyperion master! But i don´t know if this is compiled with that flag
Sorry for the trouble.

[2016-02-26 22:48] brindosch commented on #493
@cptnyehy0
yes you are right, but my images contain additional files for the services

[2016-02-26 22:54] brindosch commented on #515
great idea tpmodding,
thank you for all efforts!

[2016-02-26 22:59] ziggy73701 commented on #493
Ok so thanks for the feed back, very much appreciated! Let's all pretend I am a idiot noob with little understanding (I learn fast normally!) essentially the build here is different and didn't have the flags when you compiled it for ws2812b? From what I read this is something you believe you have resolved and I can just... Run again?

[2016-02-26 23:12] brindosch commented on #493
The builds were not compiled by myself. i have no answer for that :)
Just try and report ;)

[2016-02-27 07:12] ziggy73701 commented on #493
I'll go wwith th a clean install today and see what occurs. Looks like I may have to compile a version... Can't see anything going wrong!

[2016-02-27 07:25] Vincent35 commented on #512
Yeah we can close it, Il try the link or look around ebay. It's good to know what's causing it. Thanks!

[2016-02-27 09:33] ziggy73701 opened #517 "Compile help"
Am trying to compile Hyperion using https://github.com/tvdzwan/hyperion/blob/master/CompileHowto.txt so that I can enable ws2812b. Am new to this so am assuming I am doing something wrong, have followed the instrustions to the letter, once I get to here

26 # run cmake to generate make files on the raspberry pi
27 cmake ..
I run cmake -DENABLE_WS2812BPWM=ON
and nothing occurs, I just get CMake Err

[2016-02-27 09:45] ziggy73701 commented on #517
Sorted.... realised you have to reference the full path.

[2016-02-27 09:45] #517 closed

[2016-02-27 10:57] tpmodding commented on #512
@Vincent35 you must close it, i have no rights :)

[2016-02-27 10:59] #512 closed

[2016-02-27 15:01] tpmodding commented on #486
i posted it in our forum, the file size is damn small... :) i like that! 2 users said it works very good, the cpu usage dropped from 5-7% to 2,5-5%!!

[2016-02-27 19:35] tpmodding commented on #486
hey @redPanther there was a question:

when we set with hyperion-remote an effect on the server(forwarder), all devices (server+client) do the same effect. if we set the effect only on clients, the server will do his ambilight and for example the clients do a effect. but we cant now say ONLY the server do an effect, cause the it forwards everything? :D did you understand it? is it possible to cont

[2016-02-27 19:39] tpmodding commented on #489
#486
can be closed now :)

[2016-02-27 19:40] tpmodding commented on #476
@fape can it be closed?

[2016-02-27 19:41] tpmodding commented on #465
@theMPstig can it be closed?

[2016-02-27 19:43] tpmodding commented on #439
you can do that with
https://github.com/brindosch/hypercon/tree/master/deploy with the new HyperCon.jar
:)
can be closed now :+1:

[2016-02-27 19:44] tpmodding commented on #461
hey guys, did your fixed your problems or need help?

[2016-02-27 19:45] tpmodding commented on #456
@simonszu  can that be closed?

[2016-02-27 20:16] redPanther commented on #486
perhaps such a config would do:

![hyperion](https://cloud.githubusercontent.com/assets/6893049/13375100/2f39ffcc-dd97-11e5-8a1f-ed2f948f24d4.png)
just a quick draw, perhaps later more

[2016-02-27 20:25] tpmodding commented on #486
get it :D would that not be easier:
http://imgur.com/DQqKJFt
the bottom is the TV with 2 configs. server(red) and client(blue)
and 2 configs for ikea?
or is it possible to implement code that the forwarder has a own port, i mean the "serve" has is own json/proto port and the forwarder has a own port? or is it to much?

[2016-02-27 20:28] Petoodle commented on #461
I'm working on it right now actually, and I have been trying for  a few weeks. What I found out so far:
I've got another kind of ledstrip than advised. I have the 6803, while adafruit works with WS2801 ledstrips. The differences are: the microcontrollers are different. So the SPI settings don't work for me. I have also tried adapting these settings, but no possible combination is working.

The str

[2016-02-27 20:36] Petoodle commented on #461
I have also found out: I first used a fake arduino from china. It missed some drivers for a communication chip. I think that is probably Daniel6803's problem. I found that over here: https://www.youtube.com/watch?v=HHF45zhe_9U
I personally just didn't fix that problem yet, because I only want to handle one problem at once. I had a real Arduino lying around, so just continued with that one. I can o

[2016-02-27 22:51] ziggy73701 commented on #508
I ran through the tutorial earlier as I needed for the same strip, followed word for word and worked 1st time using Raspian Jessie. Can only imagine you have something funky going on with the OS

[2016-02-27 22:53] ziggy73701 commented on #493
Compiled using the how to and all good, your script works fine just missed the bits I need.

Is there a way to combine the 2? Your install seems to introduce more information from the status.

[2016-02-27 22:57] simonszu commented on #456
I don't know. I switched to a FireTV, and an external Video Grabber. Works
for me, obviously, but maybe some others have this problem?

On Sat, Feb 27, 2016, 20:46 tpmodding <notifications@github.com> wrote:

[2016-02-28 02:16] tpmodding commented on #461
could you try this code
http://pastebin.com/6N58iLX5

i have heard that the lpd8806 and lpd8803 "should" run with the same config..just give the above sketch a chance :)

[2016-02-28 02:17] tpmodding commented on #13
@tvdzwan can be closed?

[2016-02-28 02:21] tpmodding commented on #3
what is with that? is anybody working on it?

[2016-02-28 02:23] tpmodding commented on #6
i think we can close this? ws2812b works now!

[2016-02-28 02:23] tpmodding commented on #9
@poljvd can be closed?

[2016-02-28 02:24] tpmodding commented on #10
@tvdzwan can be closed?

[2016-02-28 02:25] tpmodding commented on #12
@tvdzwan can be closed?

[2016-02-28 02:26] tpmodding commented on #17
@hari-bo think can be closed...brindosch works on new hypercon

[2016-02-28 02:27] tpmodding commented on #22
we have now a better border detector! think can be closed....

[2016-02-28 02:28] tpmodding commented on #27
arduino works perfectly with hyperion, think can be closed?

[2016-02-28 04:03] rjb1101 commented on #502
This is what I got when I tried to follow that procedure:

[code]

[2016-02-28 06:53] dsebastien commented on #6
Thanks a lot for everyone who has helped/participated!

[2016-02-28 06:53] #6 closed

[2016-02-28 07:44] fape commented on #476
I closed it ;)

[2016-02-28 07:44] #476 closed

[2016-02-28 08:07] #452 closed

[2016-02-28 09:22] jaydeshan commented on #12
yes, thanks!

[2016-02-28 09:53] Petoodle commented on #461
I tried the code. It does color my leds, but not like commanded. It is a totally random pattern of colors that just changes three times. I don't have LPD8803, but LPD6803. That is the problem. On the FAQ of FastLED:

6. Why doesn't FastLED support this random led chipset or that random MCU?
Technical - some LED chipsets we have made a decision to not directly support in the library. Primarily this

[2016-02-28 11:21] penfold42 commented on #461
Why don't you reuse some of the native bit packing code from Hyperion ?

On a pi with SPI, it can do it directly:

https://github.com/tvdzwan/hyperion/blob/master/libsrc/leddevice/LedDeviceLpd6803.cpp

[2016-02-28 12:02] Petoodle commented on #461
Hi penfold42,

I'm using an arduino. I've heard the iostream library (and probably more in the code) won't work for arduino. (I know this post is in the wrong section for arduino, but I really don't know where else to ask my question.)

I really appreciate you guys are thinking with me for a solution!

[2016-02-28 12:05] rudelm commented on #440
@tpmodding it didn't work for me with OpenElec 6.0.0, so I switched to OSMC where everything works. [Maybe something changed with OpenElec 6.0.1](https://github.com/tvdzwan/hyperion/issues/502), but I think this ticket can be closed then.

[2016-02-28 12:05] #440 closed

[2016-02-28 12:13] tpmodding commented on #502
you must first wirte
curl -L --output install_hyperion.sh --get https://raw.githubusercontent.com/tvdzwan/hyperion/master/bin/install_hyperion.sh

and after you downloaded the file you have to write
sh ./install_hyperion.sh

:)

[2016-02-28 12:20] giovanne123 commented on #3
I was starting using RanzQ solution: https://github.com/RanzQ/hyperion-audio-effects
But used other Pi with USB Sound Card (not directly the USB Grabber) an the Mic IN is connected to my AVR Hifisystem.
All sound coming from the AVR can be visualized

https://github.com/RanzQ/hyperion-audio-effects/issues/9 - But now everything for my first tests is working:
-> your audio effect python -> hyperion

[2016-02-28 12:45] WorkerJJ commented on #13
I'm try on 12.3, 13.2, 14.1, 15.x versions of XMBC/Kodi, runnin on xbian, raspmc and osmc, hyperion and delay parameter works pertfectly.
Thanks for your work.

[2016-02-28 12:56] Daniel6803 commented on #461
Hey Guys,

thanks for interest in my problem.

@tpmodding im very grateful that you are offering your help!

@Petoodle: I was aware of the issue that the chinese try to save a few more cents and use different usb2serial converter chips without thinking consequences (duh! so chinese). I ordered one with the original chip (Atmega 16U2 not CH340G)

First the good news. After many more annoying days w

[2016-02-28 13:05] tpmodding commented on #461
good to hear :)

ps: f***ing awesome setup!!!!! thats amazing!!!

[2016-02-28 13:07] Petoodle commented on #461
@Daniel6803

YES PLEASE YES GOD THANK YOU! I'll seriously kneel down before my screen and shout THANK YOU DANIEL if you please would help me :dancer:

Thanking you SO MUCH in advance!

Your setup looks amazing! I'll post one of my setup aswell when it works :D

[2016-02-28 13:47] Daniel6803 commented on #461
Hey Petoodle, im sure thats not necessary ;)

But i have to warn you, configuring an ambilight with these 15bit color LEDs is not easy, sometimes especially with mixed colors and minimal brightness the color and flip to one of the main colors, can look very ugly. better get a true 24bit color strip later. For me, im using 20m of 6803 build in the shelfs some years ago. I upgraded them recently wit

[2016-02-28 13:49] strikegun commented on #9
Can't test it anymore, because of the wetek-box does not support hyperion. Sorry. I am out.

[2016-02-28 14:47] Petoodle commented on #461
Hi Daniel,

Thank you! I'm going to try this when I get home.

I'm using my pc (windows) and an arduino uno.

I'll let you know if it works :)
Op 28 feb. 2016 14:47 schreef "Daniel6803" <notifications@github.com>:

Hey Petoodle, im sure thats not necessary ;)

But i have to warn you, configuring an ambilight with these 15bit color
LEDs is not easy, sometimes especially with mixed colors and minima

[2016-02-28 17:28] Petoodle commented on #461
Hey Daniel,

I just tried the Afterglow Arduino code you mentioned. It certainly does not give the result it should yet. :(
I cant explain what it does exactly, so here are some pictures.
I started out with the ledstrip fully red (from a program I made), so it would be easier to see.
At the start the first 3-6 leds flash green and immediately switch off. Then after every 5 or so seconds a few blue

[2016-02-28 17:30] tpmodding commented on #461
did you tried ambibox to test?

[2016-02-28 17:33] Petoodle commented on #461
@tpmodding no, not yet. Daniel said: If you power the leds and the arduino up, they should be random colored, then off.
That's obviously not what happened with my strip. I'm going to try ambibox right now anyway :)

[2016-02-28 17:37] jOhnyy5 opened #519 "Raspberry Pi 2 B+ - LED 2801"
I've got: OSMC + RPi2 B+ + WS2801 + LIRC(IR). After an OSMC upgrade (not sure exactly), the LEDs just stopped working. One site is lighting white(?).

I've reinstalled Hyperion, then entire OSMC using the latest version, then using older OSMC images, then different combinations in config.txt

My wiring setup is: a separate PSU for the LEDs and the RPi, with sharing the LEDs' ground to Rpi and with

[2016-02-28 17:49] tpmodding commented on #519
could you try this one pls http://pastebin.com/3dWdA3Hm

[2016-02-28 18:29] Petoodle commented on #461
Okay, I tried Ambibox, and it kind offish works. The strip is white when my screen is white and it does change color when I for instance have a green screen. But, the change is really random, so the leds do not turn really green. It just does some random disco with all colors it knows including reds.

Thank you for the Ambibox tip @tpmodding :+1:
That works.

Now, how to get the colors right is th

[2016-02-28 18:40] tpmodding commented on #461
did you tried a video on fullscreen ? e.g. youtube? i think the "flackering" is from the aero..

[2016-02-28 18:45] brindosch commented on #511
As far as i know, Hyperion is not responsible for Lightberry plugins.
Please redirect your question to the lightberry support.
Thank you

-would be great if you could close this issue

[2016-02-28 18:50] Petoodle commented on #461
Yes I tried, especially when the screen gets darker it gets trippy when the leds go off, because the blue leds are still trippy like in my pictures. I think this is wat Daniel was talking about.

The overall colour seems to be al right though! I'm really happy with the progress so far! I'm going to mess a bit with the settings in this program. Maybe I can make it work a little better :)

[2016-02-28 19:18] fritzmg commented on #148
Is this implemented in the latest release? If so, it should get added to the Wiki.

[2016-02-28 19:21] brindosch commented on #513
As far as i know, there is was never support for other targets than localhost.
I´m sorry

Would be great if you could close this issue. If you have more question don´t hesitate to ask!

[2016-02-28 19:22] brindosch commented on #508
Would be great if you could close this issue. If you have more question don´t hesitate to ask!

[2016-02-28 19:23] brindosch commented on #507
@metalshark
Could this be closed?
Would be great if you could close this issue. If you have more question don´t hesitate to ask!

[2016-02-28 19:24] ziggy73701 commented on #508
It's got me pondering I will be honest!  To my mind there must be a way to MAKE it work :)

Sent from my iPhone

[2016-02-28 19:27] Daniel6803 commented on #461
Hey, i don't get what's happening in the pictures. But good to hear that it works some how. How did you make it all time red? Did you change the afterglow code? The green and blue in the first LEDs sounds like the test pattern but not enough LEDs set in the sender program (ambibox in your case)

When you use ambibox does the test pattern occur? Exactly like in the video? I made a quick one for you

[2016-02-28 19:28] brindosch commented on #504
@Bootscreen
Could this be closed? If yes, please close yourself - sad we could not

[2016-02-28 19:29] tpmodding commented on #508
i will try it in a few hours, i give you feedback!

[2016-02-28 19:32] brindosch commented on #519
As a last suggestion. Try from the beginning

to start from scrath, do the following. Type in line by line
remove the crap from init.d, that the official script will install.

`update-rc.d -f hyperion remove`

Remove Hyperion with my remove_hyperion.sh script.

`wget -nv -N https://raw.github.com/brindosch/hyperionbeta/master/bin/remove_hyperion.sh`
`chmod +x remo*`
`./remo*`

Now install the late

[2016-02-28 19:46] ziggy73701 commented on #508
Legend!!!

If I can assist let me know, am good at moral support. Some say I even look pretty!

Sent from my iPhone

[2016-02-28 19:49] hgch commented on #508
Hi,

Thanks everyone.

Compile accomplished....

:)

[2016-02-28 19:49] #508 closed

[2016-02-28 19:55] brindosch commented on #503
@vratixan
Please have a look here, the wiki method is deprecated now
https://github.com/tvdzwan/hyperion/issues/486

Please close this issue, if this fit your needs. We could not.

[2016-02-28 20:02] #507 closed

[2016-02-28 20:19] brindosch commented on #489
@Samakisss
Please close this issue, sadly we couldn´t

[2016-02-28 20:22] jOhnyy5 commented on #519
could you try this one pls http://pastebin.com/3dWdA3Hm

Nothings change.

[2016-02-28 20:24] Petoodle commented on #461
Hey,

To make the strip red I just loaded http://pastebin.com/A5JYPZSi
into my ledstrip. I wrote it while messing around with the strandtest. If I load a new program in the arduino, it pixelfreezes, stays red until the code says otherwise.

The random thing you see in the pictures is probably the test you are talking about, only a few hundred times slower and not getting to the end of the strand.

[2016-02-28 20:26] jOhnyy5 commented on #493
QCoreApplication initialised
Selected configuration file: /etc/hyperion.config.json
ColorTransform 'default' => [0; 49]
Device configuration:
{
        "colorOrder" : "rgb",
        "name" : "MyPi",
        "output" : "/dev/spidev0.0",
        "rate" : 250000,
        "type" : "ws2801"
}

Not creating any smoothing
Effect loaded: Knight rider
Effect loaded: Blue mood blobs
Effect loaded: Cold mood

[2016-02-28 20:45] #513 closed

[2016-02-28 21:10] brindosch commented on #519
All possible software errors should be solved now.
Sad to say. This may be a hardware fault.

[2016-02-28 21:16] jOhnyy5 commented on #519
Tommorow i will test it with Arduino Thanks

[2016-02-28 21:56] Daniel6803 commented on #461
I don't know ambibox, but the afterglow reads the led count out of the magic word (its the high byte low byte part in the code) and then sets it as Number of LEDs it drives. I don't know ambibox but i would guess that anywhere in the settings the LED count is set to 25 (half strip! per 10cm 1 LED driver, drives 3 LEDs Dots at once) In your RED code you set LED count to 150, you only got 50 IC Driv

[2016-02-28 22:45] brindosch commented on #500
@werkkrew
Are your question answered? If yes please close your issue
Thank you

[2016-02-29 12:10] Phil1988 commented on #9
As this is not possible with the hardwaresolution (HMDI splitter + USB grabber) you can close this.
Hyperion doesnt allow 3D.

[2016-02-29 15:12] tpmodding commented on #9
@Phil1988 could you close it please? we are not allowed

[2016-02-29 16:08] #9 closed

[2016-02-29 20:06] Kleeo opened #521 "Hyperion (on x86 linux) with WS2812B and Arduino UNO R3 clone - large number of LEDs stops working after a few minutes"
Hi, I don't really consider this a Hyperion issue, but I'm hoping to benefit from your experience with Hyperion and different hardware setups.

Regarding my issue:
I have built an Ambilight with Hyperion, which is in use with Kodi and the corresponding add-on.
The components are:
- 3.50m WS2812B LED Strip (a total of 200 LEDs in 4 sub strips)
- Arduino Uno R3 clone for driving the LED Strip (conne

[2016-02-29 20:55] NemsMole opened #522 "RPi B+ Random Color Flashes"
I've recently gotten Hyperion up and running on my LED set up which was previously running Boblight.

Since switching over, I'm having an issue (which I've seen documented here somewhat) where lights on all sides of the strip will randomly flash colors rapidly. It seems related to the frame-grabber, the colors are often close to whatever is actually on screen (I.E. if I leave it at OSMC's home pag

[2016-02-29 22:11] penfold42 commented on #522
Does it happen when plying an effect rather than grabbing ?

What led strip is it and how is it connected ?

[2016-02-29 22:16] NemsMole commented on #522
Functions perfectly nicely when playing effects and displaying solid colors from the app.

The strip is a WS2801, I have it connected directly to the pi via GPIO and powered by its own 5v 2A psu.

[2016-02-29 22:26] ziggy73701 commented on #521
How are you powering your LEDs? I use the same strips and found my early issues all came down to lack of power... Similar setup, 4 strips totalling sound 170 LEDs. In the end I went for separate power for the LEDs, 5v 10a and that sorted it. This site contains a pretty good write up https://www.pololu.com/product/2547

[2016-02-29 22:35] Kleeo commented on #521
Thanks, I'll try that. I'm powering the strip from one side with a connection to the KODI computer's power supply. I've connected the strip to a 5V drive connector. But thinking about it, I never checked the specs of the power supply and whether it can handle up to 10A or 12A on the 5V rail. Probably not. There's not many drives around, that consume that kind of power. ;) Therefore thanks for the

[2016-02-29 23:30] penfold42 commented on #522
Is 2A enough ? How many LEDs and what current are they each rated at ?

If this were a ws2812 you would only have enough power for 2/.06 = 33 LEDs

[2016-02-29 23:36] NemsMole commented on #522
50 LEDs total, adafruit ( https://www.adafruit.com/products/322)  says that
2A is plenty for a single set, and it runs fine both during effects and
when I have boblight running instead of Hyperion.
On Feb 29, 2016 6:30 PM, "penfold42" <notifications@github.com> wrote:

[2016-02-29 23:46] tpmodding commented on #522
do you use a usb grabber? if yes 2A isnt enough for all...i would recommended 2 different psu one only for rpi and one for the leds

[2016-02-29 23:48] NemsMole commented on #522
I do not use a grabber yet, I already use two PSUs, one for the Pi and one for the LEDs. I can see if hooking up something with more amps will work but I'm still doubting this is a power issue.

[2016-02-29 23:52] tpmodding commented on #522
ok, could you post your config on pastebin.com and give us the url pls

[2016-02-29 23:59] NemsMole commented on #522
Sure thing.
I've gone through a couple, but this is my current one;
http://pastebin.com/wNUXNVxC

And thanks for the help! This is a brilliant project, even just the ability to control the backlight via phone app is pretty dang cool.

[2016-03-01 00:09] tpmodding commented on #522
http://pastebin.com/sZfA4GLx

try this pls

[2016-03-01 00:13] NemsMole commented on #522
Thanks!
Still the same green blinks. Slightly reduced in how often but still
happening.

On Mon, Feb 29, 2016 at 7:09 PM, tpmodding <notifications@github.com> wrote:

--
-L

[2016-03-01 00:15] tpmodding commented on #522
did you tested the   "xbmcVideoChecker" ?

[2016-03-01 00:16] NemsMole commented on #522
I'm not sure what you mean by that, test it how?

On Mon, Feb 29, 2016 at 7:15 PM, tpmodding <notifications@github.com> wrote:

--
-L

[2016-03-01 00:22] tpmodding commented on #522
http://pastebin.com/mTM5TSdY try this :)

[2016-03-01 00:25] NemsMole commented on #522
That activated a hereto-unseen SUPER DISCO MODE I was unaware of in the
hardware. Very nice for my nightly raves but on the downside, I am now
blind.

Seriously though, significantly more blinking and crazy colors than before.

On Mon, Feb 29, 2016 at 7:22 PM, tpmodding <notifications@github.com> wrote:

--
-L

[2016-03-01 00:32] NemsMole commented on #522
Ok, so I was fiddling with the phone app, and I've managed to replicate the blinking in that too, but only at a very specific part of the brightness bar option, I'd say around 10-15% of the bar? The minute I bump it up to around 30%+ it stops and is entirely stable.

Unless I'm mistaken I'd say that confirms an issue with my PSU?

[2016-03-01 00:40] tpmodding commented on #522
try and error...think its the best to try another one or maybe switch the to

[2016-03-01 05:01] redPanther commented on #486
I don't get your idea, but we have countless possibilities now to interconnect hyperions. You can also build groups hyperion for ever room .... I'm sure you will find some combination that fulfil your needs.

It is possible to make separate ports for controlling the forwareder/server. I have to think a bit to get a good solution. For now I want to  settle down this topic and wait for feedback/desi

[2016-03-01 06:54] redPanther commented on #522
Just a hint. We already discovered strange behaviour of leds. One solution was a level shifter between leds signal and raspi.
The leds have 5v signal and raspi has 3.3v

Optimal setting for hardware: enough power as mentioned. Level shifter and ground and +5v connected to both sides of the stripe.

[2016-03-01 09:56] penfold42 opened #523 "Pi 3 support ?"
Has anyone tested it yet ?

Hopefully mine will arrive tomorrow.

[2016-03-01 11:16] ntim commented on #523
Mine will also arrive during the week.

It runs in 32 bit mode for the foreseeable future and the video core is the same as in the previous model, so no I think we do not run into any problems.

[2016-03-01 13:10] Petoodle commented on #461
Okay, just to try I installed Prismatik as well. It reacts a little bit differently than ambibox, but it has one thing in common: The colours are acting weird. Overall: Green is blue and blue is green, but on the left side, some leds are doing their own thing. With the strandtest they work fine though. I've got no clue what the problem is.
![20160301_135414](https://cloud.githubusercontent.com/ass

[2016-03-01 13:48] brindosch commented on #523
My install script may run into an "platform not detected error".
I also ordered one but not shipt yet.
I need the following output
`grep BCM* /proc/cpuinfo`
Thank you

[2016-03-01 14:25] NemsMole commented on #522
I'll give the extra power a try, and then try a level shifter, but I notice that when this issue has come up before, the OPs have tried these things to little success

https://github.com/tvdzwan/hyperion/issues/214

Actually while I'm here - Is there a simple way to force all the LEDs to always be "Brighter" in all situations?

[2016-03-01 14:28] tpmodding commented on #522
{
                    "saturationGain" : 1.0000,
                    "valueGain"      : 1.0000
                },
change these values... go higher.. eg 1.2 1.6 but dont go direct to 2.0, could be to much/bright

[2016-03-01 14:36] NemsMole commented on #522
My thinking is that if it displays ok at higher brightness/saturation, that may be a good middle ground fix till I find out why it's so bad at low luminosity.

And it seems to be working. I need to crank it up to 2.5 but basically zero blinking right now.

[2016-03-01 16:02] #489 closed

[2016-03-01 16:21] rjb1101 commented on #511
My problem is that I can't get hyperion to finish installing.

[2016-03-01 16:37] rjb1101 commented on #502
This is what I get when I enter the curl without the -k or --insecure option:
[code]

Then I add the -k option:
[code]

Then I try to run sh ./install_hyperion.sh:
[code]

I don't know what
[code]
means.

But I tried again with the -k and the --insecure options:
[code]

[2016-03-01 16:40] tpmodding commented on #502
did you notice your ssl error? :/

[2016-03-01 16:43] rjb1101 commented on #502
Yes.  I don't know how to fix it.

[2016-03-01 17:30] Daniel6803 commented on #461
Don't worry mate, your are nearly there!

First, color orientation as to fit on both sides. Just adjust it in Afterglow. Your orientation is RBG, it should be RGB

Line 54 in afterglow:

struct RGB { unsigned char b; unsigned char r; unsigned char g; };

just change b, r, g until it looks right.

in your case i would try:
struct RGB { unsigned char g; unsigned char r; unsigned char b; };

For your

[2016-03-01 17:44] brindosch commented on #478
@jilleb
Any news on this?

[2016-03-01 18:33] Petoodle commented on #461
Thank you! Now the ledstrip works perfectly fine! Except for the flickering
in darker area's of course. I'll let you know if I find a solution for
that. Now everything works I must say I prefer Ambibox over Prismatik. It
has a lot more options for finetuning and capturing.

If I can't find a solution to the flickering, I'm still going to buy
another strip. I'm really happy this works though :D

20

[2016-03-01 21:55] brindosch commented on #511
I recommend to ask the lightberry support. You payed for it.

[2016-03-01 23:01] markwal commented on #416
Since the ws2811, ws2812, ws2812b's are all one signal wire strings, it reads the bit separation based on timing. The hack for doing this from jgarff is to use DMA to PWM to produce the correct timing on the gpio wire.

This approach is clever, but has a high reliance on the underlying machine staying compatible which is why it broke on the RPi2.  I suspect there is also something about the system

[2016-03-01 23:24] markwal commented on #416
Hooking it up to an oscilloscope.  The bits look ok (reasonable pulse width), but too far apart.  About 10x too far apart.  It should be a 800kbps signal, but it's only putting out about 75kbps.

[2016-03-01 23:29] brindosch commented on #416
This is a interesting finding. Maybe you could ask the osmc devs what is going on?

[2016-03-01 23:40] brindosch commented on #474
@lnix1988
any news on this?

[2016-03-01 23:47] brindosch commented on #416
Just for testing. How old is your Hyperion image? Could you build a new one with the WS2812BPWM Enabled switch?

[2016-03-02 02:29] markwal commented on #416
I'll give it a try.  I don't really need OSMC so I was thinking I'd just use the jessie-lite image and install Hyperion on that.  I just need to wire it up to frame grab off of a composite to USB stick I have.  I was just experimenting with the LED strip beforehand and came across this thread of people having similar struggles.

[2016-03-02 03:42] trackdork commented on #416
Glad there's some more activity here.  I'd really love to get rid of adalight, although with my setup it might be more appealing to switch to using an ESP8266 and send my data over UDP and lose the cables entirely.

https://github.com/sticilface/ESP8266-wifi

[2016-03-02 09:46] odious commented on #523
My Raspberry Pi 3 arrived yesterday and i can't get hyperion to work. I enabled SPI via raspi-config (the /boot/config.txt entry is there, the spi_bcm2835 kernel module is loaded), ran the install script and copied the config from my old Raspberry Pi 1, but my ws2801 LEDs don't light up.

The official [SPI doc](https://www.raspberrypi.org/documentation/hardware/raspberrypi/spi/README.md) mentions

[2016-03-02 09:49] tpmodding commented on #523
mine didnt arrived today :( what is the output if you start it with command-line?

[2016-03-02 09:56] odious commented on #523
http://pastebin.com/x3QCrctR seems fine, no errors or anything

[2016-03-02 10:24] brindosch commented on #523
i wondered where you red @ the SPI page, that RPi3 has a changed spi ;)

[2016-03-02 10:27] brindosch commented on #523
@penfold42
Now it is confirmed, please close the issue
Thank you

[2016-03-02 11:19] penfold42 commented on #523
Not yet.

We also need to test ws2812

[2016-03-02 14:33] brindosch commented on #493
Above is "Done"
Not related to this

[2016-03-02 16:43] Petoodle commented on #461
I've got some bad news if you were still trying to manage the flickering by turning the leds off in the dark intervals. I've just measured the RGB values for which the strips flicker. To do this I've used Paint. I chose the color in RGB values, and used the bucket to color the image. Then click full screen (make sure to use the right ratio for your screen and image to be fullscreen). The leds will

[2016-03-02 18:05] NemsMole commented on #522
Update: It's almost certainly a PSU issue. I replaced the PSU with an 8A 5V one and have had zero flicker or random blinking. I would advise anyone building this project to ensure they have at least 5a just to be safe.

[2016-03-02 18:05] #522 closed

[2016-03-02 18:11] rudelm commented on #523
@brindosch here's the output you've requested:
`grep BCM* /proc/cpuinfo
Hardware	: BCM2709`

@all
I've used the installer from the wiki and installation seems to be working so far. I've copied my hyperion.config.json from my raspberry pi 1 with ws2801 LEDs over to the config folder and I've enabled spi in the /flash/config.txt. Connection is the same as with the Raspberry Pi 1, although I've seen

[2016-03-02 18:30] brindosch commented on #523
@rudelm
Thank you

[2016-03-02 19:18] rudelm commented on #522
@NemsMole which PSU did you order? I've ordered a 5V 10A adapter for 104 LEDs and I was not able to use it properly without heavy blinking. My current 5V 3A adapter works with this high number of LEDs but I also have this white blinking from time to time.

[2016-03-02 19:21] NemsMole commented on #522
I grabbed this one - http://amzn.to/21DMKU0 based on a friend's
recommendation. Working flawlessly for the past 3~ hours.

On Wed, Mar 2, 2016 at 2:18 PM, Markus Rudel <notifications@github.com>
wrote:

--
-L

[2016-03-02 20:04] tpmodding commented on #502
could you check your date on the rpi pls

[2016-03-02 20:09] tpmodding commented on #375
@lotordure could you close this issue please? think your problem is solved?

[2016-03-02 20:30] tpmodding commented on #410
@fcarlier is that fixed? can be closed?

[2016-03-02 20:30] tpmodding commented on #406
@NicoHood can be closed?

[2016-03-02 20:31] tpmodding commented on #404
@gverdellen can be closed?

[2016-03-02 20:32] tpmodding commented on #408
@and1g issue fixed? can be closed?

[2016-03-02 20:32] tpmodding commented on #401
@LaMoucheFR can be closed?

[2016-03-02 20:33] and1g commented on #408
Sorry, I have completely forgotten about this issue. At least for me it is closed. The main cause of the problem seemed to be a completely faulty Hyperion Arduino Sketch.

[2016-03-02 20:33] #408 closed

[2016-03-02 20:34] tpmodding commented on #399
@bre34 can be closed?

[2016-03-02 20:35] tpmodding commented on #396
@Spaddel can be closed?

[2016-03-02 20:36] tpmodding commented on #392
@NicoHood the binaries are updated now? can be closed?

[2016-03-02 20:37] tpmodding commented on #380
@Hibuja can be closed?

[2016-03-02 20:38] tpmodding commented on #369
@eswarts we have now a new improved black border detection, think can be closed now?

[2016-03-02 20:39] tpmodding commented on #363
@fnhernan3 can be closed?

[2016-03-02 20:41] tpmodding commented on #362
@cmvac this is not an issue from hyperion. bismarck has patched the CEC part not hyperion :)
could you close it please?

[2016-03-02 20:42] tpmodding commented on #360
@KenV99 can be closed?

[2016-03-02 20:44] tpmodding commented on #351
@NicoHood can be closed?

[2016-03-02 20:45] tpmodding commented on #349
@welitonxd could you close the issue please? :)

[2016-03-02 20:45] tpmodding commented on #348
@gilsport could you close it please if you fixed your problem? thanks! :)

[2016-03-02 20:48] tpmodding commented on #339
@JulienStrasbourg did you fixed your problem? or can this issue be closed?

[2016-03-02 20:48] tpmodding commented on #337
@Apalasys fixed? can be closed?

[2016-03-02 20:49] tpmodding commented on #335
@nurtext can be closed?

[2016-03-02 20:50] tpmodding commented on #332
@cbabbman can this be closed?

[2016-03-02 20:51] tpmodding commented on #329
@sticilface udp added now, could you please close the issue?

[2016-03-02 20:52] tpmodding commented on #330
@thebul could you close this empty issue please?

[2016-03-02 20:53] tpmodding commented on #331
@thebul could you close this also? thanks

[2016-03-02 20:55] tpmodding commented on #323
@keo95000 still need help or can be closed?

[2016-03-02 20:56] tpmodding commented on #316
@sticilface can be closed?

[2016-03-02 20:57] tpmodding commented on #314
we have now udp support, you can do it with a simple esp8266 now

can you close this issue? thanks

[2016-03-02 20:59] tpmodding commented on #301
@Billium28 need help? or can be closed?

[2016-03-02 21:01] tpmodding commented on #300
still need help? or can be closed?

[2016-03-02 21:01] tpmodding commented on #299
@LongChair think can be closed now?

[2016-03-02 21:03] tpmodding commented on #296
still need help or can be closed?
@4moto

[2016-03-02 21:03] tpmodding commented on #293
@NicoHood think can be closed?

[2016-03-02 21:04] tpmodding commented on #286
@EriQ apa102 now working, could you close this issue please?

[2016-03-02 21:04] tpmodding commented on #281
@tjandt could you close this issue? thanks

[2016-03-02 21:05] tpmodding commented on #280
only set video true :)

@Domas1232 can be closed?

[2016-03-02 21:06] tpmodding commented on #274
@mhaggren can be closed?

[2016-03-02 21:08] tpmodding commented on #273
you must only manually edit the hscan and vscan part :)
could you close this issue?

[2016-03-02 21:09] tpmodding commented on #271
@Fabi1080 kannst ma schliessen bitte :D danke

[2016-03-02 21:10] tpmodding commented on #270
@Hackmodford can this be closed?

[2016-03-02 21:11] tpmodding commented on #265
@WorkerJJ fixed? need help? or can be closed?

[2016-03-02 21:12] tpmodding commented on #264
@RabidSnail90 can be closed?

ps: this is not an hyperion issue :)

[2016-03-02 21:14] tpmodding commented on #261
@MtotheB can be closeD?

[2016-03-02 21:14] tpmodding commented on #259
@djsmiley2k can be closed?

[2016-03-02 21:14] tpmodding commented on #256
@JimmyBondi could you close this issue please?

[2016-03-02 21:15] tpmodding commented on #251
think we can close this now :)

[2016-03-02 21:15] tpmodding commented on #252
@cmvac could you close this pleasE?

[2016-03-02 21:16] tpmodding commented on #249
@hanzoh type must be adalight , connected with arduino and adalight sketch

can be closed?

[2016-03-02 21:17] tpmodding commented on #248
@ghost
can be closed?

[2016-03-02 21:18] Hackmodford commented on #270
Sure

[2016-03-02 21:18] #270 closed

[2016-03-02 21:18] tpmodding commented on #236
@BlueGene00 think can be closed now?

[2016-03-02 21:19] tpmodding commented on #230
@energysumo can be closed now? or didnt fixed the issue?

[2016-03-02 21:20] tpmodding commented on #228
@posthok problem fixxed? or can be closed?

[2016-03-02 21:21] tpmodding commented on #227
@Nueveb can be closed?

[2016-03-02 21:21] tpmodding commented on #225
@fritzmg is that fixed? can be closeD?

[2016-03-02 21:22] tpmodding commented on #223
@bad1dea need help? or can be closed?

[2016-03-02 21:23] tpmodding commented on #222
if i compile it on my rpi i got no errors.

@Tijmus can be closed?

[2016-03-02 21:24] tpmodding commented on #220
@BTopbas the new config maker has to many options..think its to much for a addon...

could you close this? thanks

[2016-03-02 21:24] KenV99 commented on #360
Yes thx.

- Ken

[2016-03-02 21:25] tpmodding commented on #219
@posthok we have now the forwarder...
could you close this issue?

[2016-03-02 21:25] tpmodding commented on #216
@tarkah can be closed?

[2016-03-02 21:26] tpmodding commented on #214
@evgsd can be closed?

[2016-03-02 21:26] tpmodding commented on #213
@B3nihana still need help or can be closed?

[2016-03-02 21:26] tpmodding commented on #211
@cmvac think can be closed?

[2016-03-02 21:27] tpmodding commented on #360
@KenV99 could you close it please? :) i cant

thanks!

[2016-03-02 21:28] djsmiley2k commented on #259
Indeed,

Closed as it's working - sorry I can't recall how I fixed it.

[2016-03-02 21:28] #259 closed

[2016-03-02 21:28] tpmodding commented on #210
@thigg still need help? or can be closed?

[2016-03-02 21:28] tpmodding commented on #207
@pete111 can be closeD?

[2016-03-02 21:29] tpmodding commented on #204
@KingScooty can be closed or need help?

[2016-03-02 21:29] tpmodding commented on #203
@carldickson can be closed?

[2016-03-02 21:30] tpmodding commented on #202
@Batmanan still need help?

[2016-03-02 21:31] tpmodding commented on #199
@RetepNamenots still need help or can be closed?

[2016-03-02 21:31] tpmodding commented on #198
@falbala can be closed?

[2016-03-02 21:33] tpmodding commented on #197
@milhouse34521 can be closed, we have now a fully working forwarder!

[2016-03-02 21:33] tpmodding commented on #195
@Hwulex can be closeD?

[2016-03-02 21:34] tpmodding commented on #194
@gregd72002 can be closeD?

[2016-03-02 21:34] tpmodding commented on #193
@Bavilo still need help or can be closed?

[2016-03-02 21:35] tpmodding commented on #191
@JanStevens can be closeD?

[2016-03-02 21:35] tpmodding commented on #190
@scottsweb can be closed?

[2016-03-02 21:35] Bavilo commented on #193
I no longer own a HummingBoard. I guess this can be closed.

Thanks!
Am 02.03.2016 10:34 nachm. schrieb "tpmodding" <notifications@github.com>:

[2016-03-02 21:35] tpmodding commented on #189
@loganw9119 can be closed?

[2016-03-02 21:36] tpmodding commented on #188
@Batmanan still need help or can be closeD?

[2016-03-02 21:36] SimonBeccari commented on #189
Yes
Den 2 mar 2016 22:36 skrev "tpmodding" <notifications@github.com>:

[2016-03-02 21:37] tpmodding commented on #193
could you close it please? i cant..thanks

[2016-03-02 21:37] scottsweb commented on #190
Sure thing, I never did get it working.

[2016-03-02 21:37] #190 closed

[2016-03-02 21:38] tpmodding commented on #189
@SimonBeccari could you close it please? i cant :)

[2016-03-02 21:38] tpmodding commented on #187
@SePiHL still need help or can be closed?

[2016-03-02 21:38] #193 closed

[2016-03-02 21:39] Bavilo commented on #193
No longer needed

[2016-03-02 21:39] tpmodding commented on #186
@NoOneAtHome still need help or can be closeD?

[2016-03-02 21:40] tpmodding commented on #184
@pana800 can be closed?
@EvilBuu just use the ne forwarder to run multiple devices :)

[2016-03-02 21:41] tpmodding commented on #183
@djsmiley2k can be closed or still need help?

[2016-03-02 21:41] tpmodding commented on #180
@tociek think can be closed?

[2016-03-02 21:42] tpmodding commented on #179
@RickDB can be closeD?

[2016-03-02 21:42] tpmodding commented on #177
@nmorel still need help or can be closeD?

[2016-03-02 21:43] tpmodding commented on #173
@andrasbiro can be closed?

[2016-03-02 21:43] tpmodding commented on #172
@speeskeek think can be closed?

[2016-03-02 21:44] tpmodding commented on #170
@T3chrage still need help or can be closed?

[2016-03-02 21:44] tpmodding commented on #169
@jfarago can be closed?

[2016-03-02 21:45] tpmodding commented on #163
@nmorel can be closeD?

[2016-03-02 21:45] tpmodding commented on #162
@RetepNamenots can be closed?

[2016-03-02 21:46] tpmodding commented on #161
@T3chrage  still need help? tried the new BB detector?
or can be closeD?

[2016-03-02 21:47] tpmodding commented on #160
@r3dr4bbit ws2812b works now,
could you close this?

[2016-03-02 21:48] tpmodding commented on #157
@Blabla51 works now with the forwarder, could you close this? thanks

[2016-03-02 21:48] tpmodding commented on #155
@tghm1801 no answer? could you close this ?

[2016-03-02 21:48] tpmodding commented on #154
@revil804 can be closed?

[2016-03-02 21:49] #360 closed

[2016-03-02 21:49] tpmodding commented on #153
@tociek can you close this pls? thanks

[2016-03-02 21:49] tpmodding commented on #151
@dvodonne think can be closed? could you close this pls?

[2016-03-02 21:50] tpmodding commented on #150
@jamieburchell could you close this please? thanks

[2016-03-02 21:50] tpmodding commented on #149
@derechtedude can be closed?

[2016-03-02 21:51] tpmodding commented on #146
@pete111 could you close this pleasE? thanks

[2016-03-02 21:51] #151 closed

[2016-03-02 21:51] tpmodding commented on #145
@gnulio could you close this pleasE? thanks

[2016-03-02 21:52] tpmodding commented on #144
@narddawg314 could you close this pleasE?

[2016-03-02 21:52] tpmodding commented on #143
@pete111 can be closed?

[2016-03-02 21:52] #150 closed

[2016-03-02 21:53] tpmodding commented on #137
@Santeador can be closed?

[2016-03-02 21:54] tpmodding commented on #135
@Schlunze can be closeD?

[2016-03-02 21:54] tpmodding commented on #132
@SquallHalle can be closed?

[2016-03-02 21:54] tpmodding commented on #131
@gixxpunk could you closet this pls? thx

[2016-03-02 21:55] tpmodding commented on #129
@PhantomSage can be closed?

[2016-03-02 21:55] tpmodding commented on #128
@threesquare try ambibox :)

could you close this?

[2016-03-02 21:56] tpmodding commented on #127
@Mikka20 can be closed?

[2016-03-02 21:56] Santeador commented on #137
Yes, it's running fine on Raspbmc final version. Thanks.

El mié., 2 de marzo de 2016 22:54, tpmodding <notifications@github.com>
escribió:

[2016-03-02 21:56] tpmodding commented on #126
@KingScooty can be closeD?

[2016-03-02 21:57] tpmodding commented on #120
@epoxsv can be closed?

[2016-03-02 21:57] tpmodding commented on #117
@EvilBoris can be closed?

[2016-03-02 21:58] tpmodding commented on #114
@alucard29 can be closed?

think the forwarder is what you searchin for?

[2016-03-02 21:58] tpmodding commented on #113
@strikegun can be closed?

[2016-03-02 21:59] tpmodding commented on #110
@turcoale can be closeD?

[2016-03-02 21:59] tpmodding commented on #108
@tociek still need this or can be closed?

[2016-03-02 22:00] tpmodding commented on #106
@tociek think can be closed?

[2016-03-02 22:00] djsmiley2k commented on #183
Needed a resistor adding to the circuit.

[2016-03-02 22:00] #183 closed

[2016-03-02 22:01] tpmodding commented on #105
@HyperFann can be closed?

[2016-03-02 22:01] tpmodding commented on #103
@bimsarck kann geschlossen werden?

[2016-03-02 22:01] tpmodding commented on #101
@timhansinger think we can close this... :)

[2016-03-02 22:02] tpmodding commented on #77
@pigbait merged, could you close this pls?

[2016-03-02 22:03] tpmodding commented on #74
@Maerchensarg can be closed?

[2016-03-02 22:03] tpmodding commented on #72
@smoky19x can be closed?

[2016-03-02 22:04] tpmodding commented on #137
could you close this please? i cant

[2016-03-02 22:04] tpmodding commented on #69
@lord-leicester can be closed?

[2016-03-02 22:05] tpmodding commented on #62
@JackDaRippa can be closed?

[2016-03-02 22:05] Maerchensarg commented on #74
Yes, I don't use it anymore.

[2016-03-02 22:05] tpmodding commented on #46
@Fire69 can be closed?

[2016-03-02 22:05] tpmodding commented on #35
@pete111 can be closed?

[2016-03-02 22:08] tpmodding commented on #74
@Maerchensarg could you close it? i cant...thx

[2016-03-02 22:08] pigbait commented on #77
you sorry about that

[2016-03-02 22:08] #77 closed

[2016-03-02 22:08] Maerchensarg commented on #74
Ups, sorry. :D

[2016-03-02 22:08] #74 closed

[2016-03-02 22:10] tpmodding commented on #519
@jOhnyy5 does it work? can be closed? :)

[2016-03-02 22:11] Fire69 commented on #46
Yep, everything has been running perfectly here! :)

I'd like to take the opportunity to thank you guys for this great software, I still enjoy it every day! :+1:

[2016-03-02 22:11] tpmodding commented on #521
@Kleeo can this be closed?

[2016-03-02 22:14] tpmodding commented on #485
@derdigge can be closeD?

[2016-03-02 22:15] tpmodding commented on #479
@john-dev try the new forwarder :)
think can be closed now

[2016-03-02 22:16] HyperFann commented on #105
Yes you can!

Sent from TypeApp<http://www.typeapp.com/r>

On Mar 2, 2016, at 17:01, tpmodding <notifications@github.com<mailto:notifications@github.com>> wrote:

@HyperFann<https://github.com/HyperFann> can be closed?

—
Reply to this email directly or view it on GitHub<https://github.com/tvdzwan/hyperion/issues/105#issuecomment-191452754>.

[2016-03-02 22:16] tpmodding commented on #46
@Fire69 could you close it? i cant :) thx

[2016-03-02 22:18] tpmodding commented on #473
@penfold42 think you can close this :)
use your other issue :)
https://github.com/tvdzwan/hyperion/issues/516

and dont ask! release it :) maybe someone needs it

[2016-03-02 22:18] Hwulex commented on #177
@Schamper forked my network based switcher and converted it to a CEC switcher. This may work for you @nmorel

https://github.com/Schamper/hyperion-switcher

[2016-03-02 22:20] Hwulex commented on #186
@NoOneAtHome: @Schamper forked my network based switcher and converted it to CEC based switcher which may work for you?

https://github.com/Schamper/hyperion-switcher

[2016-03-02 22:21] tpmodding commented on #105
@HyperFann i cant do it, could you please close it? thanks

[2016-03-02 22:21] Hwulex commented on #195
@tpmodding  I never got to implementing the suggestion, but if I do (which I plan to eventually) I can always re-open, or create a new issue if I have problems. Thanks.

[2016-03-02 22:21] #195 closed

[2016-03-02 22:30] Kleeo commented on #521
Since it's not a real software issue and probably no Hyperion issue at all...yes, please go ahead and close it. Thanks

Am 2. März 2016 23:11:59 MEZ, schrieb tpmodding <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2016-03-02 22:31] #271 closed

[2016-03-02 22:31] #314 closed

[2016-03-02 22:37] revil804 commented on #154
Sorry for delay. Yes issue can be closed.

On Wed, Mar 2, 2016 at 4:49 PM, tpmodding <notifications@github.com> wrote:

[2016-03-02 22:45] tpmodding commented on #521
@Kleeo i cant, could you close it please

[2016-03-02 22:46] tpmodding commented on #154
could you close it pleasE? i cant...

[2016-03-02 22:46] Kleeo commented on #521
Okay, will do it tonight.

Am 2. März 2016 23:45:45 MEZ, schrieb tpmodding <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2016-03-02 22:47] #154 closed

[2016-03-02 23:13] #521 closed

[2016-03-02 23:31] kiryl85 commented on #493
Hi guys,
I think I have noticed an error in hyperion.service, Shouldn't parameters After be placed in Description section? If I leave them in Service than I have some errors saying After is not recognized

Also, I'm using OSMC and I have noticed that in general putting hyperion as service is not so great solution.
Anyway Im not able to start this service

[code]
This is my hyperion.service
[code]

[2016-03-03 00:04] brindosch commented on #493
Yes you are right - but never got a error message in the log - will fix this | also the duplicates

This is new. Never saw this. Could you test without ws2812b_pwm flag?

[2016-03-03 00:18] brindosch commented on #493
Update:
- the next run will remove every duplicates and add the "After = mediacenter.service" in the Unit section.

[2016-03-03 00:54] penfold42 commented on #473
This appears to be related to the core clock speed changing.

[2016-03-03 01:57] gregd72002 commented on #194
Haven't tried it. This is a known issue and the workaround sounds good but someone should test it.

[2016-03-03 02:12] gregd72002 commented on #194
Suggest to close.

[2016-03-03 02:13] #286 closed

[2016-03-03 03:22] redPanther commented on #486
@tpmodding you offered to write a tutorial - this would be cool if you can do so.

cheers redPanther

[2016-03-03 03:22] #486 closed

[2016-03-03 03:25] redPanther commented on #503
The pull request #518 regarding issue #486 have also hints how to setup multi led devices

[2016-03-03 03:57] r3dr4bbit commented on #160
Once I confirmed it works tonight on a clean OpenELEC I will.

[2016-03-03 06:01] #137 closed

[2016-03-03 06:36] #120 closed

[2016-03-03 07:00] Daniel6803 commented on #461
Hey, thanks for trying that, very interesting find. Looks like the LEDs flicker nearly all the time.

But, what do you mean by flickering exactly?

For me it's in the darker areas when you go slowly to the lowest possible ON valve maybe for white. Then,  for example grenn will turn off before blue and rad, so white flips to pink before all LED turn off... So sometimes you could get a wrong color f

[2016-03-03 07:02] john-dev commented on #479
@tpmodding it's early here, can you be more specific pleas? :)

[2016-03-03 07:13] keo95000 commented on #323
Yes, can be closed.

Thanks.

[2016-03-03 07:15] #131 closed

[2016-03-03 07:16] john-dev commented on #479
Ok, you mean i should compile it for OS-X / Windows and forward the result to the raspberry wiht the led's attachted?

[2016-03-03 07:35] #62 closed

[2016-03-03 07:40] derdigge commented on #485
for sure, works for me with arduiono.
dosent work with pi2 pwm.

[2016-03-03 07:57] nmorel commented on #163
Yes, it can be closed

[2016-03-03 07:57] #163 closed

[2016-03-03 07:59] nmorel commented on #177
Yes, it can be closed. I just send a SSH command to my pi to start/stop the hyperion service.

[2016-03-03 07:59] #177 closed

[2016-03-03 08:05] alucard29 commented on #114
Hi,
Yes you can. Thanks

Regards

[2016-03-03 08:22] tpmodding commented on #114
Could you close it please? I have no rights. Thanks

Von meinem iPhone gesendet

[2016-03-03 08:23] tpmodding commented on #485
Could you close it please? I have no rights. Thanks

Von meinem iPhone gesendet

[2016-03-03 08:23] #485 closed

[2016-03-03 08:30] andrasbiro commented on #173
To be honest, I lost interest in this, at least on arch :) So, if you think you fixed it, close it.

[2016-03-03 08:36] tpmodding commented on #173
Could you close it please? I have no rights. Thanks

Von meinem iPhone gesendet

[2016-03-03 08:36] tpmodding commented on #323
Could you close it please? I have no rights. Thanks

Von meinem iPhone gesendet

[2016-03-03 08:38] #173 closed

[2016-03-03 08:49] Tijmus commented on #222
Jep, can be closed.

[2016-03-03 08:50] tpmodding commented on #222
Could you close it please? I have no rights. Thanks

Von meinem iPhone gesendet

[2016-03-03 08:51] nurtext commented on #335
@tpmodding think so, must be a problem with Hyperion plugin for Kodi.

[2016-03-03 08:52] tpmodding commented on #335
Could you close it please? I have no rights. Thanks

Von meinem iPhone gesendet

[2016-03-03 08:53] fritzmg commented on #225
Huh, I am not sure, I haven't really tested this particular issue for a long time. But I think the issue can be closed for now.

[2016-03-03 08:54] #335 closed

[2016-03-03 08:57] tpmodding commented on #225
Could you close it please? I have no rights. Thanks
If somebody have issues Can be open a new one:)

Von meinem iPhone gesendet

[2016-03-03 08:58] #222 closed

[2016-03-03 09:04] fritzmg commented on #225
Sure :)

[2016-03-03 09:04] #225 closed

[2016-03-03 09:17] Hibuja commented on #380
@tpmodding Yes can be closed.

[2016-03-03 09:17] #380 closed

[2016-03-03 09:35] #114 closed

[2016-03-03 10:20] ntim commented on #299
Yes, compiles with qt5.

[2016-03-03 10:38] tpmodding commented on #299
Could you close it please? I have no rights. Thanks

Von meinem iPhone gesendet

[2016-03-03 10:41] polykoma commented on #103
bimsarck :D

[2016-03-03 10:45] brindosch commented on #456
This is a kodi response problem, nothing we could fix.
You could close.
Thank you

[2016-03-03 12:43] DropbearNinja opened #524 "Blacklevel causes lights to be on when they should be off during Kodi menu"
Firstly, amazing piece of software, thank you kindly for producing it.

Secondly, I'm not sure this is an issue or just that I'm using it wrong.

Setup: kodi add-on, hyperion, raspberry pi2 (raspbian), apa102 leds, no direct capture.

I like to use the 'black level' setting, so that when watching something there is a constant minimum level of background illumination. I have it set to the lowest ju

[2016-03-03 12:55] tpmodding commented on #524
First: could you please edit your post and paste your config to pastebin.com and give us the URL...

and now your problen:
Why you use
  "xbmcAddress" : "192.168.1.3", and not  "xbmcAddress" : "127.0.0.1",
Do you use 2 RPis or only one?

[2016-03-03 12:59] #46 closed

[2016-03-03 13:04] brindosch commented on #524
This is normal behaviour,
the kodi checker is not affected from blacklevel value and vice versa.
the blacklevel is always set

[2016-03-03 13:33] #323 closed

[2016-03-03 14:03] tpmodding commented on #479
Yes, https://github.com/tvdzwan/hyperion/pull/518 try this one! You can forward your screen with proto-forwarder :)

[2016-03-03 14:22] pana800 commented on #184
Hi,
Yes,  please close
Thanks a lot.

On Thursday, March 3, 2016, tpmodding <notifications@github.com> wrote:

[2016-03-03 14:23] tpmodding commented on #184
Could you close it please? I have no rights. Thanks

Von meinem iPhone gesendet

[2016-03-03 14:39] #184 closed

[2016-03-03 14:40] #144 closed

[2016-03-03 14:56] vratixan commented on #503
thanks, I'll look into that in a few days. Thank you!

[2016-03-03 14:56] #503 closed

[2016-03-03 15:19] bimsarck commented on #103
Der Buchstabendreher war pure Absicht :-)

.bismarck

[2016-03-03 15:19] #103 closed

[2016-03-03 15:28] Ambilighty commented on #401
Yep

Verstuurd vanaf mijn iPhone

[2016-03-03 15:37] tpmodding commented on #401
Could you close it please? I have no rights. Thanks

Von meinem iPhone gesendet

[2016-03-03 16:20] tarkah commented on #216
Yes, thanks.
On Mar 2, 2016 1:25 PM, "tpmodding" <notifications@github.com> wrote:

[2016-03-03 16:24] NicoHood commented on #216
@tarkah Please close the issue. We are not allowed to do that.

[2016-03-03 16:26] NicoHood commented on #406
The question is still valid. I'd like to have an answer if possible.

[2016-03-03 16:28] NicoHood commented on #392
The binaries should be removed from here:
https://github.com/tvdzwan/hyperion/tree/master/deploy

Also the whole git history should be cleared somehow. Cloning the git takes forever.
However I am so glad at least a single release was made now.

[2016-03-03 16:30] NicoHood commented on #351
Well hyperion should warn about non standard baud rates if possible. However if you dont have this typo it should work. So its more or less a tiny feature for simpler debugging/error correction.

I think I can close the issue, while a fix for this would still be nice though.

[2016-03-03 16:30] #351 closed

[2016-03-03 16:30] NicoHood commented on #293
Yeah. Too old, no idea if it works now. Other will complain if it doesnt ;)

[2016-03-03 16:30] #293 closed

[2016-03-03 16:30] NicoHood commented on #413
Where is the script? Is it merged yet?

[2016-03-03 17:41] r3dr4bbit commented on #160
Ok.  I managed to get it working, but not with the code in this repo.

[2016-03-03 17:41] #160 closed

[2016-03-03 17:47] r3dr4bbit opened #525 "WS2812B OpenELEC 6.03 RPi2 Guide"
No an issue, but since I spent two days getting this two work and everyone else is struggling as well, here is the how to:

1. Download the latest image from OpenELEC
2. In config.txt add the following to the: "dtoverlay=pwm"
3. Install Hyperion using the normal script as found in the wiki
4. In the following post, there is a link to Zappatrons' Google Drive where a recompiled hyperiond is located

[2016-03-03 17:49] polykoma commented on #525
Thanks for sharing!
Can someone confirm this workaround?

[2016-03-03 17:50] NicoHood commented on #525
The wiki is a good place to add this information:
https://github.com/tvdzwan/hyperion/wiki

[2016-03-03 17:52] r3dr4bbit commented on #525
@polykoma I just did, busy performing it again...

[2016-03-03 18:04] brindosch commented on #413
Just read your post again. Not sure if this fit your needs.
Supports your ubuntu lts systemd? There you could easily start/stop/enable/disable hyperion service

[2016-03-03 18:13] brindosch commented on #525
Just to clarify. If you use the official source and add the ws2812b_pwm flag for compiling this just works for Rpi 1 not for 2?

[2016-03-03 18:21] r3dr4bbit commented on #525
nope.  The official source was forked to Zapatron's repo, who fixed the memory values.  Hence the download of the compiled download.

You are also more than welcome to clone Zapatron's repo and build it there with the WS2812b_pwm flag enabed.

[2016-03-03 18:25] brindosch commented on #525
Is there a possibility to merge that to one?
Or is his source now just Rpi2 capable?

[2016-03-03 18:27] r3dr4bbit commented on #525
Check with the two authors @tvdzwan and @Zappatron.

[2016-03-03 18:33] NicoHood commented on #493
On my elementary os x64 (based on ubuntu14.04):
[code]

[2016-03-03 18:40] NicoHood commented on #413
I posted my issues there.
What I asked for was a link to this issue:
https://github.com/tvdzwan/hyperion/issues/493

[2016-03-03 19:06] NicoHood opened #526 "Difference between Hyperion config file and default hyperion config"
[code]

The version in the repo is way more detailed.
This issue was caused by some recent additions via several PRs.
Actually this is a Hyperion issue:
https://github.com/tvdzwan/hypercon

I am just posting it here, so more people see it.
This could be simple to fix. Also make sure to update the wikis .jar download file.

[2016-03-03 19:12] tpmodding commented on #526
@brindosch is working on a new hypercon with all new devices... also the wiki is very old, i thought to structure the whole wiki new, but for now i dont now how to do, i will maybe start at the weekend and start a "issue" for the wiki :)

[2016-03-03 19:16] NicoHood commented on #525
We could just compile 2 versions or make a better fix. No need to download some file from a google drive link. A Proper rpi2/3 fix should be made anyways.

[2016-03-03 19:36] Zappatron commented on #525
The changes I made are just a quick and dirty hack, to be merged it would need to be done in a much nicer way, autodetecting the memory addresses required based on the device it's running on - or at least a new device driver specifically for the pi2/3.

[2016-03-03 19:46] #349 closed

[2016-03-03 19:55] rudelm commented on #522
@NemsMole thank you for the link. I'll try to use my small adapter for now and will think of yours when it starts to flicker again.

[2016-03-03 20:24] brindosch commented on #525
@Zappatron
If you are motivated, just do it :+1:
All users would be very thankful for this.

[2016-03-03 20:27] penfold42 commented on #406
Does yours still update the LEDs if it's set to a static colour ?

Mine doesn't seem to with the 2801 device type.

[2016-03-03 20:36] strikegun commented on #113
is it fixed? can I test with HOU again?

[2016-03-03 20:37] NicoHood commented on #406
I tried with
[code]
But it still updates every few seconds. It also does this if the screen is blank. It sends the data over and over to the device. I do not think that this is different with other devices.

And this timer ensures to write the frame ever 5 seconds or whatsoever. No idea why though.

[2016-03-03 21:27] p1n9 commented on #513
So why put `xbmcAddress` in config file if the only valid option is `127.0.0.1` ??

[2016-03-03 22:30] brindosch commented on #493
Well i never could lean back, right? :)

i checked your points on a elementaryos x64 VM

I get the following output when starting in the upstart log
`/proc/self/fd/9: 3: /proc/self/fd/9: /usr/bin/gpio2spi: not found`
I have to investigate why it searches for gpio2spi

This is no problem /usr/sbin/service is always true. It is just used, if no systemd/initctl is found

My fault, never tested back/

[2016-03-03 23:03] DropbearNinja commented on #524
Thanks brindosch; that answers my query exactly, but is unfortunately not the behaviour I'd like - is there anything I can do my end to achieve the effect I'm after?

tpmodding; I use "xbmcAddress" : "192.168.1.3" since kodi runs on a different system, a HTPC.

[2016-03-03 23:08] tpmodding commented on #524
do this work for you? @brindosch and i tested this function, doesnt work for us...only on localhost(127.0.0.1)

[2016-03-03 23:13] kiryl85 commented on #493
hi Brindosch. regarding my issue with ws2812b leds I think you've already found the reason.
Some modifications have to be done in code before compiling hyperion from source -> [changes done by Zappatron](https://github.com/tvdzwan/hyperion/compare/master...Zappatron:pi2_ws2812b)
I will try tomorrow and let you know.

cheers

[2016-03-03 23:24] brindosch commented on #493
@NicoHood
Tested on Debian x64 (systemd) -> working
Tested on Ubuntu 14.04.4 (initctl) -> same problem
I am sure it is the script. Will have a look

@kiryl85
Yes i also don´t know this

[2016-03-03 23:29] brindosch commented on #524
I added a new point on the long list for hyperion todos -> Ignore Blacklvl value if kodi option is set to off
As far as i know, no. I´m sorry

You get it working with "external" ip? How? We never could do this :)

[2016-03-03 23:38] NicoHood commented on #493
All *.conf get backed and placed back after update. (just in /opt/hyperion/conf (!))
Where was your *.conf?

This should be noted in the output above. I mean i could have looked this up, but imagine I am a noob user and i dont want too search through a very complex installation script where it backs up my data after i've realized i lost it wven though it was (somehere??) backed up. (I recovered my

[2016-03-03 23:49] brindosch commented on #493
If you setting up hyperion like in the wiki you will never lost your config. At least i have no idea where you saved yours. If your tutorial (or anything)  that you followed changed the location inside /opt/hyperion/. Well there is no reason why and a bash scipt like this is limited.

[2016-03-03 23:55] brindosch commented on #493
One idea. If you overwritten the symlink (/etc/hyperion.config.json) with your file, the config will be lost, because the symlink will be forced to overwrite it

[2016-03-04 03:14] NemsMole opened #527 "HyperionV4L2/USB Grabber not grabbing whole screen"
My grabber seems to be missing the bottom 15% of my screen. I'm pretty sure this is a USB grabber issue but I wanted to know if anyone else here has had this issue.

I am using the EasyCap grabber, it's a chipset supported by Hyperion and running fine for the vast majority of the screen.

My config file is as such;

[code]

I've attached a screenshot using basically the above settings too, and one

[2016-03-04 06:03] DropbearNinja commented on #524
Sorry guys, don't know what to tell you. I just entered my HTPC's (a windows 10 PC) IP in hypercon and it worked first go... If I can provide any details to aid in figuring out why it works, please let me know.

[2016-03-04 07:19] NicoHood commented on #493
I normally copy my config directly to `/etc/hyperion.config.json`. That is all.

[2016-03-04 08:43] LongChair commented on #299
Yes sure :)

[2016-03-04 08:43] #299 closed

[2016-03-04 08:47] tpmodding commented on #527
{
        "device" : "/dev/video0",
        "input" : 0,
        "standard" : "no-change",
        "width" : 1, <---- you use only 1pixel for width
        "height" : 1, <----- and 1pixel for height... only have an 1x1 picture to work with...
        "frameDecimation" : 2,
        "sizeDecimation" : 6, <--- your 1x1 picture is /6 :)
        "priority" : 800,
        "mode" : "2D",
        "cropLef

[2016-03-04 09:17] kiryl85 commented on #525
Hi @Zappatron.
May I ask you something? I'm using OSMC on RPi2 and would like to check ws2812b leds on the newest hyperion connected directly to GPIO. At the moment I'm using them successfully through Arduino.
So, in order to have ws2812b working I should replace original  libsrc/leddevice/LedDeviceWS2812b.cpp file with your one and set ENABLE_WS2812BPWM flag during compilation, am I right?

[2016-03-04 09:20] r3dr4bbit commented on #525
Hi @kiryl85
Pretty much yes.  Also remember to place the pwm_overlay.dtb boot partition and also register it using dtoverlay=pwm.

[2016-03-04 09:37] Zappatron commented on #525
@kiryl85 Unfortunately, as it stands, the 2812 pwm led driver doesn't work on OSMC since the November 2015 release. I haven't done any investigation as to why.

[2016-03-04 09:39] r3dr4bbit commented on #525
@Zappatron I suspect its worth looking into the overlay's as well?  No recompile required.  I will see if I can get something running later today.

[2016-03-04 09:45] Zappatron commented on #525
Oh, so it's possible to get it working on OSMC > 201511 now using an overlay? I did try a few things last year but haven't looked in to it since.

I'll take a look at the weekend if I get the time.

[2016-03-04 09:49] r3dr4bbit commented on #525
Well, as far as I know in parallel with OSCM going to 201511 build, OpenELEC went to 5.0.6, in which case Hyperion also stopped working (for me at least).  This is about the same time they bought Device Tree Overlays into the RPi kernel which I suspect is the main suspect in all the dilemmas.

Yesterday I struggled long and hard to get Hyperion working.  I finally got it working on OpenELEC 5.0.1,

[2016-03-04 09:54] Zappatron commented on #525
Sounds promising. I'll confirm once I've tested.

[2016-03-04 12:41] NemsMole commented on #527
I goofed with that, I am actually using -1 in both width and height, that
shot I posted shows that.
On Mar 4, 2016 3:47 AM, "Serhan" <notifications@github.com> wrote:

[2016-03-04 13:28] brindosch commented on #527
This could be a pal/ntsc issue
try to force your pal/ntsc setting
if you use a hdmi to cvbs converter play around there too

[2016-03-04 13:35] NemsMole commented on #527
@brindosch That was it! Apparently my US PC and my US TV output in PAL. Who knew. Thanks!

[2016-03-04 13:36] #527 closed

[2016-03-04 13:40] brindosch commented on #526
I wil submit a new file soon.
Some values there are also tweaked.

[2016-03-04 14:14] Petoodle commented on #461
Hey,

Sorry, had some busy couple of days.
I think you have a different flickering than I do. No idea what my problem is though. This is a video of whats happening: https://vid.me/DM9l
The first few seconds are a stable color, the last few seconds show a flickering color.

[2016-03-04 14:20] brindosch commented on #525
If we could merge all to one image and add a new wiki article,
i would write a new install script that do all steps for you (Install_hyperion_PWMONLY.sh

[2016-03-04 17:51] pete111 opened #528 "(off-topic) why stk1160/utv007 works but grabbing video is not working correctly"
Hello, this is off-topic question. I wondered why hyperion with stk1160/utv007 usb grabber is working correctly (nice colors are produced) but when I use the same grabber for video grabbing I see video with many artefacts?   (with the same RPi)

Thanks for answer.

[2016-03-04 18:34] brindosch commented on #493
@NicoHood
you could update again
But now you will run into following error
![unbenannt](https://cloud.githubusercontent.com/assets/15967679/13536362/c285725a-e23f-11e5-9c6a-c447fda02dae.JPG)
You need newer libs than ubuntu 14.04 could provide. Just have a look at the internet how you could get them.
You could "debug" yourself with the following command
`tail -f /var/log/upstart/hyperion.log`
There

[2016-03-04 19:11] brindosch commented on #524
@tpmodding
Maybe the windows firewall blocks.

@DropbearNinja
You could close it. Thank you

[2016-03-04 20:29] penfold42 commented on #525
Maybe the quickest way to merge is to add another led device type ?

W2812-PWM-rpi01 and W2812-PWM-rpi23 ?

[2016-03-04 22:17] redPanther commented on #525
I've took a quick look into the code.
Merging shouldn't be hard.
The quickest way is a compile option. I'll investigate this issue tomorow evening.

Cheers, rp

[2016-03-05 00:08] tpmodding commented on #528
Could you explain your "artefacts" or show us with a screenshot

[2016-03-05 08:31] Daniel6803 commented on #461
You do have a different issue, that looks totally weird. I can confirm it's not the fault of the led strip nor the afterglow code. Never have seen something like this. Prismatic doing the same thing? Would be unfortunate to buy a new strip to find out ambibox causes the flickering. New strip will be an upgrade of cause.

[2016-03-05 09:24] NicoHood commented on #493
Why do I need those libraries? If I manually run the hyperiond it just works as expected. So why does the service require this? I do not understand.

[2016-03-05 10:01] penfold42 commented on #461
Is you pi over locked ?

I've seen the SPI speed changes on mine when the CPU governer kicks in.

[2016-03-05 10:38] pete111 commented on #528
It looks like [this screenshot](http://postimg.org/image/nulgsb48z/) and [this](http://postimg.org/image/yzsbwajst/)
I am using powered usb hub so power is not source of problem.  I am simply not able to get good quality  picture when grabbing from usb grabber. And at the same time I don't understand if v4l2 grab so low quality images (with artefacts) how it is possible that hyperion lights work g

[2016-03-05 10:51] pete111 commented on #35
@tpmodding yes.

[2016-03-05 12:02] Petoodle commented on #461
@penfold42 I don't use a raspberry pi, but pc (windows 7) :)

[2016-03-05 12:28] kas1kas commented on #143
yeah, no problems!

[2016-03-05 12:37] #401 closed

[2016-03-05 17:13] RanzQ commented on #493
@brindosch @NicoHood I ran into that issue as well on my latest elementary os. Earlier I had hyperion manually compiled but the provided binary uses newer libraries. This solved it for me: http://askubuntu.com/a/581497

The script installed initctl file instead of service, cause I had a custom service file earlier. After removing it the service link was added correctly.

[2016-03-05 18:00] RanzQ commented on #438
I created a simple js script to do the calculation. My matrix uses "snake" indexing from bottom right, so adjust the loops to your needs. Didn't test yet on hyperion but the output seemed correct.

https://raw.githubusercontent.com/RanzQ/hyperion-audio-effects/master/matrix-config.js

[2016-03-05 18:10] jelmert24 opened #529 "Hyperion blue color is green and green clor is blue"
Hi,
I'm a big fan off the raspberry pi with hyperion.
But i have a little problem with it. When i select or test my color i see that the blue color is green and the green color is blue. The red color is good.
Is it possible to calibrate the colors or something like that?
I'm using a raspbery 1 model b

Thanks a lot!

[2016-03-05 19:08] RickDB commented on #529
Hi,

On the top of your Hyperion config (hyperion.config.json) you can re-arrange the colors, it's in this section and called **colorOrder**:

[code]

Also available in the HyperCon tool and named the same there, depending on your device type the default order varies (BGR for APA102 as in example).

[2016-03-05 23:01] #216 closed

[2016-03-05 23:15] Chrunchy commented on #529
I had the same issue. Setting the type RBG in hyperon solved it for me (default is RGB)

[2016-03-06 00:59] brindosch commented on #528
This is part of the digital <> analog convert. Results may vary from converter to converter too.
But it is working.

If this satisfies you, please close it
Thank you

[2016-03-06 06:58] sticilface commented on #329
Sure thing. Does anyone know if this version is in rasplex?

[2016-03-06 06:58] #329 closed

[2016-03-06 08:39] ntim commented on #523
Works out of the box on latest OSMC with Philips Hue.

[2016-03-06 10:42] penfold42 commented on #523
i finally upgraded to the pi3 over the weekend.

Works fine with my 2801 to 2812 protocol converter.

I'll close this for now given that native PWM 2812 support doesn't work on the pi2 so there's no point testing on the pi3

[2016-03-06 10:42] #523 closed

[2016-03-06 11:05] brindosch commented on #493
@NicoHood
I have no idea. I will have a look later.

@RanzQ
Glad that you found a solution to udpate gcc!
Yes, the install script "searches" for the prefered method. The old script just use service - doesn´t matter what system you are using cause it is always true.

[2016-03-06 11:36] minion9119 commented on #523
Recruiter_MON

On Sun, Mar 6, 2016 at 4:43 AM, penfold42 <notifications@github.com> wrote:

[2016-03-06 11:39] brindosch commented on #523
@minion9119
what du you want to say?
If you have issue, please open a new one. It is nor RPi3 related

[2016-03-06 12:02] jelmert24 commented on #529
That works for me, thanks!

[2016-03-06 13:12] brindosch commented on #529
@jelmert24
Glad that this worked for you.
Could you please close this issue yourself? We can´t.
thank you

[2016-03-06 13:26] #529 closed

[2016-03-06 16:06] Zappatron commented on #525
@r3dr4bbit Unfortunately enabling the pwm overlay still doesn't seem to work in the latest OSMC

[2016-03-06 17:20] redPanther commented on #525
@Zappatron

atm I have no time, but I have a solution for detection if we are on rpi 1 or higher.
This solution is not the best, because the revision field of /proc/cpuinfo is more reliable.
here is an implemention for getting full info about rpi:
https://github.com/AndrewFromMelbourne/raspberry_pi_revision

This is my solution - should be enough for deciding wich base adress to use.

[code]

[2016-03-06 17:43] brindosch commented on #525
Side note: RPi3 will be BCM2710 (not now, but the files are there. Maybe a switch to armv8 in future)

[2016-03-06 18:38] RanzQ commented on #3
After looking the ambi-tv video it looks random color effect with music playing rather than music visualization. Or maybe there's just oo much delay. :)

My solution doesn't work on Pi itself (maybe on a separate Pi 2/3) but I'm working on improvements every now and then when I've got time.

[2016-03-06 19:43] Will1707 opened #530 "Hyperion not working on Raspberry Pi 3"
I have tried installing hyperion on OSMC and openELEC and it dosent work on either of them. I'm 100% sure it is wired up correctly, having checked it many times. I am using a WS2801 strip which  I have confirmed to work with an arduino. It installs without any errors and I have changed the config.txt file and updated the configuration file. I have tried for 2 days to get this working without any s

[2016-03-06 20:59] brindosch commented on #530
You downloaded the new RPi3 image from OSMC site?
You are not the first one who struggled with the install on OSMC (even with wiki!)

Sad that you spent 2 days for this! I Just copy/paste myself now

To start from the beginning, do the following. Type in line by line

Remove Hyperion with my remove_hyperion.sh script.

`wget -nv -N https://raw.github.com/brindosch/hyperionbeta/master/bin/remove_hy

[2016-03-06 21:02] penfold42 commented on #530
Does it report any errors if you start it directly from the command line ?

Does /dev/spidev0.0 exist ?

What if you cat /etc/hosts > /dev/spidev0.0 ?

[2016-03-07 14:00] pete111 commented on #528
found out it is "overclocking issue" again. When overclocked RPI to 1000mhz, video picture is much better.

[2016-03-07 14:00] #528 closed

[2016-03-07 21:56] brindosch commented on #13
This is done.
/closed

[2016-03-07 21:56] #13 closed

[2016-03-07 22:01] brindosch commented on #17
It is now possible so save and load your HypCon settings (the hypercon.dat stays the same)
Backup your settings file at a save place!

[2016-03-07 22:01] #17 closed

[2016-03-07 22:02] brindosch commented on #22
Closed
open a new issue if this is still a problem.

[2016-03-07 22:02] #22 closed

[2016-03-07 22:07] brindosch commented on #35
I am using the utv007 and i get a good picture qualitiy from my tv scart. Are you using a hdmi to cvbs converter?

[2016-03-07 22:09] #110 closed

[2016-03-07 22:13] tpmodding commented on #161
https://github.com/tvdzwan/hyperion/pull/496

[2016-03-07 22:13] #161 closed

[2016-03-07 22:14] #206 closed

[2016-03-07 22:17] brindosch commented on #27
I will close it, just start a new discussion if problems occur.

[2016-03-07 22:17] #27 closed

[2016-03-07 22:18] #69 closed

[2016-03-07 22:20] brindosch commented on #92
I will close this, due to converter fault and age.

[2016-03-07 22:20] #92 closed

[2016-03-07 22:22] brindosch commented on #72
I added to the feature requests /closed

[2016-03-07 22:22] #72 closed

[2016-03-07 22:22] #101 closed

[2016-03-07 22:22] #105 closed

[2016-03-07 22:23] #106 closed

[2016-03-07 22:25] brindosch commented on #108
Please generate your files with HyperCon to get a fault proof config

[2016-03-07 22:25] #108 closed

[2016-03-07 22:29] brindosch commented on #113
I will close it. I added your wish to the list. We have to sort what is to do and what can we do.
The list is long after 2 years now.
Thank you

[2016-03-07 22:29] #113 closed

[2016-03-07 22:31] brindosch commented on #117
One year - should be done. If not please open a new one
Thank you

[2016-03-07 22:31] #117 closed

[2016-03-07 22:32] brindosch commented on #122
Due to age i will close this issue. Please open a new one if you have questions
Than you

[2016-03-07 22:32] #122 closed

[2016-03-07 22:40] brindosch commented on #263
@bimsarck
@iLLiac4
I merged the pull request
Thank you for contributing.

[2016-03-07 22:42] brindosch commented on #121
I will close it duo to age. Please open a new one, if problems still exists.
Thank you

[2016-03-07 22:42] #121 closed

[2016-03-07 22:42] NicoHood commented on #497
So how is it going? I saw that @brindosch is now a Collaborator, so it seems you've talked with the guys who started the project? Any more infos how you all will continue to take over this project? About people, plans etc.

[2016-03-07 22:44] brindosch commented on #126
Closed due to age. If you have problems, open a new one
Thank you

[2016-03-07 22:44] #126 closed

[2016-03-07 22:45] brindosch commented on #123
I added this to a invetigate list. Due to age i will close it,
Thank you

[2016-03-07 22:45] #123 closed

[2016-03-07 22:47] brindosch commented on #129
I added this to the buglist. I will close it
Thank you.

[2016-03-07 22:47] #129 closed

[2016-03-07 22:48] #128 closed

[2016-03-07 22:51] brindosch commented on #127
will have a look on this later.closed
Thank you

[2016-03-07 22:51] #127 closed

[2016-03-07 23:01] brindosch commented on #135
I will close this due to age. open a new one if problems still exists.
Thank you

[2016-03-07 23:01] #135 closed

[2016-03-07 23:02] brindosch commented on #132
Closed duo to age. Please open a new one if problems still exists.
Thank you

[2016-03-07 23:02] #132 closed

[2016-03-07 23:05] brindosch commented on #168
@IDmedia
Is this still in progress?

[2016-03-07 23:06] brindosch commented on #166
Closed due to age. Please open a new one, if you encounter any problems.
Thank you

[2016-03-07 23:06] #166 closed

[2016-03-07 23:07] brindosch commented on #162
Closed due to age. Please open a new one, of problems still exists.
Thank you

[2016-03-07 23:07] #162 closed

[2016-03-07 23:09] brindosch commented on #157
Please refer to the new Json/Proto forwarder from rePanther.

Closed
Thank you

[2016-03-07 23:09] #157 closed

[2016-03-07 23:09] brindosch commented on #155
Closed due to age. Please open a new one, of problems still exists.
Thank you

[2016-03-07 23:09] #155 closed

[2016-03-07 23:09] IDmedia commented on #168
@brindosch: Unfortunately... barely... I haven't had the time to work on it
much lately.

On Tue, Mar 8, 2016 at 12:06 AM, brindosch <notifications@github.com> wrote:

[2016-03-07 23:09] #153 closed

[2016-03-07 23:12] brindosch commented on #149
Closed due to age. Please open a new one, of problems still exists.
Thank you

[2016-03-07 23:12] #149 closed

[2016-03-07 23:12] brindosch commented on #146
Closed due to age. Please open a new one, of problems still exists.
Thank you

[2016-03-07 23:12] #146 closed

[2016-03-07 23:13] brindosch commented on #145
Closed due to age. Please open a new one, of problems still exists.
Thank you

[2016-03-07 23:13] #145 closed

[2016-03-07 23:13] #143 closed

[2016-03-07 23:15] brindosch commented on #187
Closed due to age. Please open a new one, of problems still exists.
Thank you

[2016-03-07 23:15] #187 closed

[2016-03-07 23:18] brindosch commented on #186
Nice script anyway, we should put it to the hyperion repo and add it to the wiki?
@Hwulex @Schamper

Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-07 23:18] #186 closed

[2016-03-07 23:18] brindosch commented on #185
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-07 23:18] #185 closed

[2016-03-07 23:19] brindosch commented on #180
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-07 23:19] #180 closed

[2016-03-07 23:21] brindosch commented on #179
@RickDB
Status of the mediaportal integration?

[2016-03-07 23:22] brindosch commented on #172
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-07 23:22] #172 closed

[2016-03-07 23:23] brindosch commented on #170
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-07 23:23] #170 closed

[2016-03-07 23:25] fR33Styler-1971 opened #531 "vertical gap or 90° in HyperCon.jar"
I use this wonderful stuff for a ambilight for my virtual pinball ([http://www.dietle.de/projekt-vpin-virtueller-flipper/](http://www.dietle.de/projekt-vpin-virtueller-flipper/))

The Playfield-Monitor is vertical (so 90° rotation)... so my LED-Gap for me is instead "bottom gap" a "left vertical gap"... means that the config does not work in vertical... it´s still horizontal (also when the screen

[2016-03-07 23:29] tpmodding commented on #531
Hi,

Could you close this issue and open it here:

https://github.com/tvdzwan/hypercon

Thanks!

Von meinem iPhone gesendet

[2016-03-07 23:34] brindosch commented on #497
@NicoHood you are fast ;)
I am glad that people are willing to help.
First, we have to clean up the issue tracker (note bugs/feature request and so on)

Also my new HyperCon version is ready with some often requested features!

My install script will be merged soon to prevent more faulty installs.

tpmodding is working on a whole new wiki.

Stay tuned! We need some time before we could move on.

*

[2016-03-07 23:39] pigbait commented on #497
can't wait to see what comes next.. thanks guys

[2016-03-07 23:48] #531 closed

[2016-03-07 23:48] fR33Styler-1971 commented on #531
sure. Thanx for feedback

[2016-03-07 23:53] brindosch commented on #169
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-07 23:53] #169 closed

[2016-03-07 23:55] brindosch commented on #204
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-07 23:55] #204 closed

[2016-03-07 23:56] brindosch commented on #203
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-07 23:56] #203 closed

[2016-03-07 23:56] brindosch commented on #202
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-07 23:56] #202 closed

[2016-03-07 23:56] brindosch commented on #199
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-07 23:56] #199 closed

[2016-03-07 23:57] brindosch commented on #198
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-07 23:57] #198 closed

[2016-03-07 23:59] brindosch commented on #197
Stick with the Json/Proto Forwwarder. Create a second Hyperion instance and set up a new config with just leds /left/right/top. HyperCon V2.2.4 will provides this. Will be uploaded soon

Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-07 23:59] #197 closed

[2016-03-08 00:00] brindosch commented on #194
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:00] #194 closed

[2016-03-08 00:00] brindosch commented on #191
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:00] #191 closed

[2016-03-08 00:00] brindosch commented on #189
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:00] #189 closed

[2016-03-08 00:01] brindosch commented on #188
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:01] #188 closed

[2016-03-08 00:03] brindosch commented on #219
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:03] #219 closed

[2016-03-08 00:03] brindosch commented on #214
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:03] #214 closed

[2016-03-08 00:04] brindosch commented on #213
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:04] #213 closed

[2016-03-08 00:04] brindosch commented on #211
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:04] #211 closed

[2016-03-08 00:04] brindosch commented on #210
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:04] #210 closed

[2016-03-08 00:05] brindosch commented on #207
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:05] #207 closed

[2016-03-08 00:05] brindosch commented on #205
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:05] #205 closed

[2016-03-08 00:06] brindosch commented on #246
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:06] #246 closed

[2016-03-08 00:07] brindosch commented on #244
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:07] #244 closed

[2016-03-08 00:09] brindosch commented on #240
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:09] #240 closed

[2016-03-08 00:10] brindosch commented on #239
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:10] #239 closed

[2016-03-08 00:11] brindosch commented on #236
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:11] #236 closed

[2016-03-08 00:12] brindosch commented on #232
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:12] #232 closed

[2016-03-08 00:13] brindosch commented on #230
`Device or resource busy`
Stop the Hyperion process before you do screenshots

Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:13] #230 closed

[2016-03-08 00:14] brindosch commented on #228
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:14] #228 closed

[2016-03-08 00:15] brindosch commented on #227
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:15] #227 closed

[2016-03-08 00:15] brindosch commented on #223
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:15] #223 closed

[2016-03-08 00:17] brindosch commented on #221
I noted the request

Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:17] #221 closed

[2016-03-08 00:17] brindosch commented on #220
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:17] #220 closed

[2016-03-08 00:18] brindosch commented on #272
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:18] #272 closed

[2016-03-08 00:19] brindosch commented on #269
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:19] #269 closed

[2016-03-08 00:20] brindosch commented on #265
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:20] #265 closed

[2016-03-08 00:21] #264 closed

[2016-03-08 00:29] #261 closed

[2016-03-08 00:30] brindosch commented on #258
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:30] #258 closed

[2016-03-08 00:31] brindosch commented on #256
Done

[2016-03-08 00:31] #256 closed

[2016-03-08 00:31] brindosch commented on #252
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:31] #252 closed

[2016-03-08 00:32] #251 closed

[2016-03-08 00:32] brindosch commented on #249
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:32] #249 closed

[2016-03-08 00:32] brindosch commented on #248
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:32] #248 closed

[2016-03-08 00:33] brindosch commented on #273
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:33] #273 closed

[2016-03-08 00:38] tpmodding commented on #281
Closed -> works on rpi2
Thank you

[2016-03-08 00:38] #281 closed

[2016-03-08 00:38] brindosch commented on #302
It should be possible, we are investigating this because we have different results.

[2016-03-08 00:39] tpmodding commented on #315
Closed, the order option works.

[2016-03-08 00:39] #315 closed

[2016-03-08 00:39] brindosch commented on #301
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:39] #301 closed

[2016-03-08 00:41] brindosch commented on #300
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:41] #300 closed

[2016-03-08 00:44] brindosch commented on #298
@Gamadril
Could this be closed? How should we handle the Cubox support?

[2016-03-08 00:45] brindosch commented on #296
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:45] #296 closed

[2016-03-08 00:51] #399 closed

[2016-03-08 00:51] tpmodding commented on #363
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:51] #363 closed

[2016-03-08 00:51] brindosch commented on #285
Stick with the new Proto/json forwader and a new hyperion instance

I will close this

[2016-03-08 00:51] #285 closed

[2016-03-08 00:54] brindosch commented on #280
Should be done

[2016-03-08 00:54] #280 closed

[2016-03-08 00:54] brindosch commented on #278
New install script will handle everything you need

closed

[2016-03-08 00:54] #278 closed

[2016-03-08 00:55] brindosch commented on #274
We are not affiliated with the ios app

closed

[2016-03-08 00:55] #274 closed

[2016-03-08 00:58] brindosch commented on #319
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 00:58] #319 closed

[2016-03-08 00:59] tpmodding commented on #274
You can contact him on his site

https://chaosspace.de/contact

[2016-03-08 01:00] brindosch commented on #318
@Povezi

As far as i know no.

Could this be closed?

[2016-03-08 01:01] brindosch commented on #316
Not related to Hyperion

closed

[2016-03-08 01:01] #316 closed

[2016-03-08 01:01] tpmodding commented on #404
should work with udp and the forwarder now

[2016-03-08 01:01] #404 closed

[2016-03-08 01:03] brindosch commented on #312
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 01:03] #312 closed

[2016-03-08 01:04] brindosch commented on #311
Closed due to lack of information

[2016-03-08 01:04] #311 closed

[2016-03-08 01:04] brindosch commented on #308
Solved

Closed

[2016-03-08 01:04] #308 closed

[2016-03-08 01:06] brindosch commented on #306
Request added

Closed due to age

[2016-03-08 01:06] #306 closed

[2016-03-08 01:07] #385 closed

[2016-03-08 01:09] brindosch commented on #304
1. cut your leds from power if not used
2. send with a script a constanst "black", but the rpi have to run for this all the time.

I will close this issue, just open a new one if you struggling with this

[2016-03-08 01:09] #304 closed

[2016-03-08 01:13] brindosch commented on #347
closed, just open a new one if problem still persists

[2016-03-08 01:13] #347 closed

[2016-03-08 01:14] brindosch commented on #346
@rickalex
Could you explain what you want to do here exactly?

[2016-03-08 01:15] brindosch commented on #345
Should be done

Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 01:15] #345 closed

[2016-03-08 01:16] brindosch commented on #343
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 01:16] #343 closed

[2016-03-08 01:17] brindosch commented on #342
Should be done

Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 01:17] #342 closed

[2016-03-08 01:23] brindosch commented on #341
Should be answered

Closed

[2016-03-08 01:23] #341 closed

[2016-03-08 01:23] brindosch commented on #339
I will close it, just open a new one!

[2016-03-08 01:23] #339 closed

[2016-03-08 01:24] brindosch commented on #337
I will close it, just open a new one!
Thank you

[2016-03-08 01:24] #337 closed

[2016-03-08 01:25] brindosch commented on #334
Closed, if you have any error just open a new one

[2016-03-08 01:25] #334 closed

[2016-03-08 01:26] brindosch commented on #332
Should be done

Closed

[2016-03-08 01:26] #332 closed

[2016-03-08 01:26] #331 closed

[2016-03-08 01:26] #330 closed

[2016-03-08 01:27] brindosch commented on #328
Should be done

Closed

[2016-03-08 01:27] #328 closed

[2016-03-08 01:27] brindosch commented on #327
Closed due to age. Please open a new one, if problems still exists.
Thank you

[2016-03-08 01:27] #327 closed

[2016-03-08 01:28] brindosch commented on #326
Is this still ongoing or could we close?

[2016-03-08 01:31] brindosch commented on #322
stk1160 is not compatible with never raspbian images. Stick with utv007

Closed, if you encounter any errors please open a new one

[2016-03-08 01:31] #322 closed

[2016-03-08 01:32] brindosch commented on #321
This should be done, i will close it
Thank you

[2016-03-08 01:32] #321 closed

[2016-03-08 01:43] brindosch commented on #320
Should be done

Just open a new issue if not
Thank you

[2016-03-08 01:43] #320 closed

[2016-03-08 01:45] #369 closed

[2016-03-08 01:47] tpmodding commented on #361
is this issue fixed with the new changes?

[2016-03-08 01:47] #511 closed

[2016-03-08 01:49] brindosch commented on #410
Should be done

[2016-03-08 01:49] #410 closed

[2016-03-08 01:52] brindosch commented on #354
This should be done. Please ask the lightberry support for further specific questions

[2016-03-08 01:52] #354 closed

[2016-03-08 01:56] brindosch commented on #358
@tociek
Could you add this to wiki? I would close this issue.

[2016-03-08 01:57] brindosch commented on #504
I will close this, just open a new one!
Thank you

[2016-03-08 01:57] #504 closed

[2016-03-08 01:58] brindosch commented on #502
You need a synced date/time. This error is related to this.

I will close it.

Thank you

[2016-03-08 01:58] #502 closed

[2016-03-08 01:59] brindosch commented on #474
I will close this, just open a new one, if problems persist

Thank you

[2016-03-08 01:59] #474 closed

[2016-03-08 02:00] brindosch commented on #457
I added your wish to the wishlist

Closed

[2016-03-08 02:00] #457 closed

[2016-03-08 02:01] tpmodding commented on #443
new forwarder will be merged the next days, than you can use a server/client hyperion.

[2016-03-08 02:01] #443 closed

[2016-03-08 02:01] brindosch commented on #453
Should be solved. If not just open a new one.

Thank you

Closed

[2016-03-08 02:01] #453 closed

[2016-03-08 02:03] #348 closed

[2016-03-08 02:05] brindosch commented on #450
I added this as feature request for kodi hyperion addon

Closed
Thank you

[2016-03-08 02:05] #450 closed

[2016-03-08 02:05] #456 closed

[2016-03-08 02:07] brindosch commented on #439
Huh, you stolen my files :dancer:

[2016-03-08 02:07] #439 closed

[2016-03-08 02:08] #465 closed

[2016-03-08 02:08] brindosch commented on #479
This should be done, if not, just open a nw issue

Thank you

[2016-03-08 02:08] #479 closed

[2016-03-08 02:09] #379 closed

[2016-03-08 02:12] brindosch commented on #435
Added your wish to the wishlist. I will close it

Thank you

[2016-03-08 02:12] #435 closed

[2016-03-08 02:14] brindosch commented on #432
Any news on this?

[2016-03-08 02:15] brindosch commented on #526
tomorrow evening

Thank you

[2016-03-08 02:15] #526 closed

[2016-03-08 02:15] #500 closed

[2016-03-08 02:16] brindosch commented on #516
Any news on this?

[2016-03-08 02:21] brindosch commented on #426
@emc02
If you want to publish your addon, just create a wiki article to explain everything. I thought about where we could gather all these little nice progams.

Should be done
closed

[2016-03-08 02:21] #426 closed

[2016-03-08 02:21] #362 closed

[2016-03-08 02:22] #524 closed

[2016-03-08 02:23] brindosch commented on #415
Is added

[2016-03-08 02:23] #415 closed

[2016-03-08 05:00] redPanther commented on #415
see pr #520

[2016-03-08 05:21] redPanther commented on #389
It is possible in another way. You need a second hyperion deamon and connect the 50 leds to the second hyperion. It depends how you connect your leds perhaps you need a second rpi or an arduino or other led controller (e.g. a fadecandy could be nice in your case)

On the "25 leds hyperion" configure  the new forwarder (not yet in master, but PR is pending) and forward only json messages to second

[2016-03-08 05:52] redPanther commented on #497
thx @brindosch  for taking care of hyperions future

If help needed with cmake, shell scripts, linux things and network stuff I can help.
I'm "linux only" since 16 years and in my job I code for linux/bsd with c++/cmake/python/bash/qt.

BTW with github you can make a website. I think this could be very useful for connecting all the resources together and a website landing with nice pics and videos

[2016-03-08 07:15] penfold42 commented on #516
Now that I've tracked down the SPI speed problem on the pi, I'll upload this to my github repo soon.

[2016-03-08 08:54] penfold42 commented on #432
This can probably be closed

[2016-03-08 08:55] brindosch commented on #432
Thank you

[2016-03-08 08:55] #432 closed

[2016-03-08 09:34] RickDB commented on #179
Can be closed, we have had full Hyperion support for some time now but forgot to close this issue.
Sorry about that :)

[2016-03-08 09:34] #179 closed

[2016-03-08 09:36] brindosch commented on #361
yes, end frame was fixed

Closed Thank you

[2016-03-08 09:36] #361 closed

[2016-03-08 09:47] brindosch commented on #438
@RanzQ
Could you add a wiki article for this? I am sure the people would be thankful for this

[2016-03-08 09:54] RanzQ commented on #438
@brindosch sure, I'll do it when I find some time. I'll improve the script  a bit to take in cmdline arguments so it can be run using node.js. I also tested it on my led table and confirmed it works. :)

[2016-03-08 09:55] brindosch commented on #424
@sheggy012
There ist new cinema fade in fade out effect vom redPanther.
Just use this as a base.

https://github.com/tvdzwan/hyperion/pull/520/files#

I will close it, thank you

[2016-03-08 09:55] #424 closed

[2016-03-08 09:59] brindosch commented on #438
Great news!
Thank you for your help, i will close this

[2016-03-08 09:59] #438 closed

[2016-03-08 10:02] brindosch commented on #433
This is related to the official kodi hyperion addon from poljvd repo? A fix for V17 was commited and i merged it.

[2016-03-08 10:25] tpmodding commented on #497
Thx for website info redPanther :) i will look what we can do, but i'm new to github, only used to download projects. just give us a little time to update everything, we are working on it :)

[2016-03-08 10:25] Povezi commented on #318
could this be moved to feature request?

[2016-03-08 10:31] NicoHood commented on #432
Yes i posted a PR that fixed this issue i think.

[2016-03-08 11:41] brindosch commented on #318
Added it.

thank you, i will cose it.

[2016-03-08 11:41] #318 closed

[2016-03-08 12:05] redPanther commented on #497
I think we can organize the code in a github "organization" atm hyperion is in @tvdzwan personal github area.
When we found a group/organization, then we can assign roles with specific rights. The Organization didn't belong to maintainers personal area. This is better to handle with multiple mantainers.

I already created a group so you can see how it looks like:
https://github.com/IluminationGrou

[2016-03-08 12:36] brindosch commented on #451
Could you short explain what you mean with x11 file?

[2016-03-08 12:39] brindosch commented on #497
Very interesting, i will discuss this with tvdzwan.
Thank you

[2016-03-08 12:44] brindosch commented on #421
I will close it
Thank you

[2016-03-08 12:44] #421 closed

[2016-03-08 12:48] brindosch commented on #437
@redPanther
Why is this inverted. make this sense? I am sure everyone expect that higher number -> higher priority?

[2016-03-08 12:58] #422 closed

[2016-03-08 12:59] #427 closed

[2016-03-08 13:08] #473 closed

[2016-03-08 13:09] redPanther commented on #497
I also have a test organization where you can see how the website stuff works:

website: https://roboticsathome.github.io/
github page: https://github.com/roboticsAtHome

[2016-03-08 13:21] brindosch commented on #434
@castaway1  We need the changes in the Hyperion code
This should be "done" refer to the other issue for investigation.
Wiki: No update until the code is in the repo that is working for every pi.

[2016-03-08 13:21] #434 closed

[2016-03-08 13:24] brindosch commented on #497
organized like OpenHab :)
Thank you

[2016-03-08 13:25] brindosch commented on #395
Will close it
thank you

[2016-03-08 13:25] #395 closed

[2016-03-08 13:30] brindosch commented on #396
OSMC uses systemd and the new script will install this accordingly. If you push the shutdown button, the lights will be set to off. (But it is better so power off the leds (at least) over night).

Thank you

[2016-03-08 13:30] #396 closed

[2016-03-08 13:32] castaway1 commented on #497
hello, im just a simple man using hyperion every day and enjoying watching movies with ambilight. Thank you for your hard work developers and peoples who contribute into this project. I wish long  life for hyperion as i cant imagine my life without it! keep it alive forever! :)

[2016-03-08 13:32] brindosch commented on #413
Could be closed

[2016-03-08 13:32] #413 closed

[2016-03-08 13:34] brindosch commented on #429
I will test this these days.

[2016-03-08 13:39] redPanther commented on #437
the prio system is deep in hyperion source. I didn't invent it. When I looked around in the code every grabber has it's own prio. This is should be fixed to make behaviour more predictable.

The order "the lower the number, the higher the priority" ( <- this is a quote from source code) is made by the hyperion founders. The reason why we have to ask him.
But I think we should provide better defaul

[2016-03-08 13:40] brindosch commented on #519
/Closed
Just open a new one if you have problems.

[2016-03-08 13:40] #519 closed

[2016-03-08 13:47] brindosch commented on #437
Thank you for clarify
It is no problem to rename this in HyperCon and document this.
I added the priority 990 as default value (like you wished)
hmm. we need another name for it. Or i modify just tooltips.

[2016-03-08 13:53] tpmodding commented on #417
you can use different transforms.

just give them a name with "id", and set with "leds" wich leds use which transform
eg
				"id"   : "VIDEOGRABBER",
				"leds" : "*",

"*" means for all available leds

if you wonna turn for example the last 10 leds from 150 leds off you can select only the last 10 leds with the specific numbers from the leds
				"id"   : "off",
				"leds" : "140-149",

[2016-03-08 13:53] brindosch commented on #437
Is it possible to create a priority for internal grabber? Then it would be possible to lay (in my case) the external grabber over the internal. And it would be better understandable.

[2016-03-08 13:59] tpmodding commented on #397
can anyone post the new url? i can't find it

[2016-03-08 14:01] tpmodding commented on #412
No answer within 3months, i will close this.

[2016-03-08 14:01] #412 closed

[2016-03-08 14:02] tpmodding commented on #394
No feedback, think we can close this.

[2016-03-08 14:02] #394 closed

[2016-03-08 14:30] redPanther commented on #437
here is an overview about the current state regarding prios. the "not implemented" stuff is easily implementable, but nobody have done it yet. This table assumes my forwarder stuff is merged. (otherwise there would be more "not implemented")

[code]

[2016-03-08 14:37] brindosch commented on #437
@redPanther
I have no words for your commitment!
Thank you very much for all (ALLLLLLLL!) efforts!

It should be a good decision to make it realiable though the project. If you would implement that i won´t hold you back ;) HyperCon is faster even with this as you thought :)

[2016-03-08 14:43] redPanther commented on #437
I will implement those stuff no prob, but no hurry. I will go on after pending PRs are accepted, otherwise I have to invest to much time in merging.
Resolve all "not impl" should be not more than one or two hours. After that we can decide good default values in config. (/hypercon)

[2016-03-08 14:48] brindosch commented on #437
Merged ;) New binarys will follow later

[2016-03-08 15:14] brindosch commented on #397
this was maybe just a guide? google ->
Hyperion site:discourse.osmc.tv

[2016-03-08 15:25] Megachip commented on #435
Is there a public wishlist/feature request anywhere? So things will not requested again and again and again?

[2016-03-08 15:27] tpmodding commented on #435
toDo/wishlist will come soon :)

[2016-03-08 15:28] meowmoo commented on #451
If you Start Hyperion With the x11 file, you don't need the add-on because the x11 file do the capture? I don't now how it exactly work...

But it's the only way to get lights in the kodi menu on my chromebox

[2016-03-08 15:44] redPanther opened #532 "priority cleanup"
priorities of sources aren't consistent and can confuse users - in addition not all prios are settable and with the current state of hyperion features this can be pain.
Following table shows current state and the problem. The topic of this issue was first discoverd in #437

[code]

... im starting to fix this issue in my [prio cleanup branch](https://github.com/redPanther/hyperion/tree/prio_cleanu

[2016-03-08 16:08] YodAXL commented on #530
I am trying to get a ws2812b ledstrip to work on a raspberry pi 3 with xbian but I cannot seem to get it to start.
I used the install script by @brindosch
When I try to run hyperion-remote --priority 50 --color red --duration 5000 it replies with:
Unable to connect to host

I updated the config file to support ws2812b.

I downloaded the hyperiond file from @zappatron and replaced the one in /opt/h

[2016-03-08 16:18] brindosch commented on #530
1. I never tested my install script with xbian. Have to do this these days.
2. We have no official support for Rpi2/3 + PWM driven leds (ws2801 work on all Rpis)
See wiki https://github.com/tvdzwan/hyperion/wiki/WS2812b-PWM
3. the binrays i provide have no pwm support enabled. It won´t run with pwm leds

[2016-03-08 16:19] redPanther commented on #532
after my first fixes the situation looks like this

[code]
now I can create external grabbers for framebuffer and osx and than this topic should be done :-)

[2016-03-08 17:12] RanzQ commented on #438
@brindosch So here it is: https://github.com/tvdzwan/hyperion/wiki/Matrix-configuration

It should work for any matrix. :)

[2016-03-08 17:21] brindosch commented on #438
Thank you very much :)

[2016-03-08 17:23] redPanther commented on #451
Perhaps @neowmoo mean he start the hyperion-x11 for capturing. Without params it streams x11 screen content via proto to local hyperiond.

[2016-03-08 17:44] brindosch commented on #397
I will close it. I found no releveant topic. - Removed from the wiki

[2016-03-08 17:44] #397 closed

[2016-03-08 17:47] brindosch commented on #532
You are fast, should we wait with building new images today?

[2016-03-08 17:57] #378 closed

[2016-03-08 18:03] redPanther commented on #532
Dont wait. Make the bins.
Im making wellness now :-)

[2016-03-08 18:04] brindosch commented on #532
Have fun ;)

[2016-03-08 18:48] brindosch commented on #386
@ntim  @donuts11
last thoughts? Should i close?

[2016-03-08 18:51] brindosch commented on #375
@Systemdir
just look into the config and play around with the hscan vscan value. you could grab the whole screen.

I will close this
Thank you

[2016-03-08 18:51] #375 closed

[2016-03-08 18:53] #374 closed

[2016-03-08 18:56] brindosch commented on #371
You could attach a article to the wiki that describes the usage.
Thank you.

/Closed

[2016-03-08 18:56] #371 closed

[2016-03-08 19:04] brindosch commented on #367
@mrgreywater I tested your values with the latest release. I could not verify this.

I will close it due to age. Just open a new one

[2016-03-08 19:05] brindosch commented on #359
No response
Closed

[2016-03-08 19:05] #359 closed

[2016-03-08 19:07] brindosch commented on #392
Could you give me a command that is working on raspian and openelec to download the files?
Just tested around some findings but unsuccessful.

[2016-03-08 19:07] mrgreywater commented on #367
Did you test it with a rpi2? Because I verified it multiple times, and NPOT textures are rarely supported on embedded devices.

[2016-03-08 19:11] NicoHood commented on #392
Huh? I tried on my x64 PC, just a simple
wget https://github.com/tvdzwan/hyperion/releases/download/v0.1.42/hyperion_rpi.tar.gz

[2016-03-08 19:14] brindosch commented on #367
Rpi3 but i used the following values on rpi2 before

`		"width" : 256,
		"height" : 144,`

I have to admit, that i use no "Adalight Protocol to Arduino". It is native with APA102. But this should not belongt to the grabber. Could you lower your frequency_Hz?

[2016-03-08 19:16] mrgreywater commented on #367
rpi3 has most likely a different graphics card that supports non power of two textures, whereas the rpi2 might not. Closing this issue is not a solution.
See https://www.opengl.org/wiki/NPOT_Texture

[2016-03-08 19:34] brindosch commented on #367
As far as i know, the Pi1/Pi2/Pi3 share the same gpu. Just some clock increase.

[2016-03-08 19:35] brindosch commented on #367
Just have a look https://en.wikipedia.org/wiki/VideoCore

[2016-03-08 19:52] brindosch commented on #392
yes, i won´t update every time the script :) I don´t want to go a step back in comfort :)

[2016-03-08 19:59] brindosch commented on #355
No response

closed

[2016-03-08 19:59] #355 closed

[2016-03-08 20:04] brindosch commented on #367
@mrgreywater
Could you try to connect your ws2812B strip without arduino? There is a hyperion version out there that supports rpi2 with pwm. Just to verify.
Thank you

[2016-03-08 20:08] mrgreywater commented on #367
@brindosch I just checked with glxinfo, the graphics card supports NPOT textures so I don't know... I will compile the current hyperion version tomorrow and check again, but I doubt anything changed with the issue.
I could try the strip without the arduino, but I don't know why I should... It works fine right now, it just bugs out when i change the framegrabber width/height to a npot value. I'm su

[2016-03-08 20:13] brindosch commented on #263
@iLLiac4
DumpQ: I don´t own the philips hue, but why have you that strange username in it? I thought this have to be a name that is setting up at the bridge?

[2016-03-08 20:19] #358 closed

[2016-03-08 20:32] brindosch commented on #472
@michaelleuker
Any news?

[2016-03-08 20:48] brindosch commented on #516
Great! Please add this to wiki ;)
I will close it

[2016-03-08 20:48] #516 closed

[2016-03-08 20:51] brindosch commented on #464
@tomaszszczerba
Any news on this?

[2016-03-08 21:11] tomaszszczerba commented on #464
yes, I got my cuboxi a few days ago, I'll check on that.

Right now I tested your script on rpi3 (but you know that one works). Sorry about the wetek - I don't have this one anymore, but will try to test on my friends.

[2016-03-08 21:16] brindosch commented on #464
I tested your problem on rpi3
i don´t get the `Unable to create device adalightapa102`
message in the log. So i am sure it is working with the latest images.
Also i added the AdalightAPA102 device to HyperCon.
Will be published soon

[2016-03-08 21:17] brindosch commented on #464
Is it ok if i close this?

[2016-03-08 21:42] tomaszszczerba commented on #464
Yes, I did that too and works beautifully. Thank you for this!

[2016-03-08 21:42] #464 closed

[2016-03-08 22:36] penfold42 commented on #418
You need to re get the install.sh script.

[2016-03-08 22:41] brindosch commented on #418
@penfold42
Awww, yes you are right... I can´t see the trees at the forest

@Shampra
Please retry

[2016-03-09 05:48] iLLiac4 commented on #263
I do not get it? Which username?

[2016-03-09 06:55] NicoHood commented on #418
I was the guy who refactored the HID devices. If the problem is not solved in a week, remind me and I will have a look (currently extremely busy).

[2016-03-09 07:05] penfold42 commented on #418
It was fixed - I tested this a while back and the cause was the install.sh still using the year old tar file

[2016-03-09 08:04] ntim commented on #386
Still waiting for a comment on the FLS-PP3. If @donuts11 or @polykoma have gamut values, I can add them to the code.

[2016-03-09 08:26] polykoma commented on #386
@ntim when you give me a hint what i need to do to provide you the information.

The fls-pp hasnt got a serial number like the hue lamps to add it manually.
But i think there must be something like an ID

[2016-03-09 09:45] ntim commented on #386
If you check the website I posted above, there are gamut values x,y for red green and blue. Those I have to add to the code to be able to compute the correct colors.

Besides that, are the lights responding?

[2016-03-09 13:22] penfold42 opened #536 "Test cases and approaches discussion"
It would be great to get some automated test coverage and I thought I'd get the ball rolling on some ideas.

It's  obvious that a successful build and run is easy to test, but without real hardware and cameras to watch the LEDs it's a bit harder to go further.

Could we use strace  to catch writes to SPI and uart devices ?

We can use the effects engine to provide some known led data.

Do we care

[2016-03-09 15:10] redPanther commented on #536
just a short note. I've written a sim for led hardware:
https://github.com/redPanther/hypersim
you can test complete hyperion except the led things. (e.g. grabbers, color transforms, led layout, forwarding ....)

[2016-03-09 16:50] redPanther opened #537 "[idea] hyperion version number"
we need a version number for every build so we can identify the origin.

I suggest we use git infos to build a version id.
we can execute following command:
```git log -1  --format="%t/%h (%cn %ci)"```
during cmake and put the output into a "version.h" file. Then we can output the version at boot for identification.
The output looks similar to that:
``` af99833/816821d (redpanther 2016-03-09 11:03

[2016-03-09 17:09] brindosch commented on #537
Auto generated version numbers are great but, if people say (or you see it in the log)
"I have version af99833/816821d" i think it is harder to understand, but the build time is really good!

On the other hand, we never have to push the version by hand.
On the other hand i can´t hold this "even" with HyperCon to indicate compatiblity. I thought about to integrate the HyperCon version in the header

[2016-03-09 17:13] NicoHood commented on #537
I'd use the git commit as special git commit identifier but also introduce a better readable tag system, starting from 2.0.0 (since the project has now taken over from the community). Then people can visualy see if a new version is available. And if you recompiled the code on your own the git commit stll shows you exactly where you are in the history. So I'd vote for a mix. A lot of bigger project

[2016-03-09 19:29] tpmodding commented on #536
i would prefer the real-system-test. i can test the nearly most systems...(rpi b,b+,3....osx/windows/enigma2(stb receiver)) i have one wire leds (ws2812b) and data/clock (lpd8806) also i have utv007/easycap and stk1160 USB video grabber... it takes only a little bit time, but its the best solution..

security testing: hmm is this necessary? sure it is better to be secure anytime, but have you exam

[2016-03-09 20:18] brindosch commented on #306
@gshlomi @ZereoX  @tom4242
Priority is now adjustable for all systems - commit is in pipeline

[2016-03-09 20:27] brindosch commented on #263
/// Specific of Philips Hue:
	/// * 'username'   : The name of user registred on the Philips Hue Bridge

[2016-03-09 21:48] brindosch commented on #386
@ntim
Could have a look on this request?
https://github.com/tvdzwan/hyperion/issues/387

thank you

[2016-03-09 21:56] polykoma commented on #386
@ntim since i move my household i cant test right away for next 2 weeks.

Ahh now i got what values are needed.
But the fls_pp isnt a philips device, i will try to ask the manufacturer.

The fls pp is in most cases connected to a normal rgb strip. So maybe we couls try to test the values from a philips light with true colors like iris or smth.

[2016-03-09 22:14] ntim commented on #386
Ah ok, now I understand, will look into it tomorrow.

[2016-03-09 22:40] polykoma commented on #386
If there is a philips light with r g b diodes only (instead rgbw or mixed colour emitters like huecolor) these values would work IMHO.

Fls pp i the pure wlan controller zigbee certified
You can connect rgb and rgbw stripes.

[2016-03-09 22:41] tpmodding commented on #367
we tested it, you are right. i have the same issue, but i dont think this is necessary, most of us use a POT. a note should be enough, i will add it to our todo list :) thank you!

[2016-03-10 05:12] iLLiac4 commented on #263
I did not wrote that.

[2016-03-10 06:00] redPanther commented on #537
I suggest we make official binaries only from tags. Then we can take the name of the tag (e.g. v0.1.42) to display. In addition we show a build ID with "cryptic" numbers so we can identify exactly.

If made a branch for this topic: [hyperion_version_id](https://github.com/redPanther/hyperion/tree/hyperion_version_id)

[2016-03-10 08:09] ntim commented on #386
So lets see, adding a slash to the end of the output is no solution since it will only result in wrong urls. the problem is, that newer versions of the hue bridge give the lights arbitrary ids, whereby with the original version a consecutive numbering was guaranteed. Also see here: https://github.com/tvdzwan/hyperion/issues/506

I will implement a feature in the code, that reads the light ids if n

[2016-03-10 08:10] ntim commented on #386
#506

[2016-03-10 08:31] brindosch commented on #537
This is a good idea (so we have to create a "tag" in github first and then we compile builds and th last thing is adding the .tar.gz to it?)

One more idea. Make it sense to place the "target platform" too? (pi/x32/x64)
If someone used the wrong bin (manual install) you will see this immediately in the log.
Just a thought.

Thank you for you efforts

[2016-03-10 08:33] polykoma commented on #506
I believe im you ntim!

[2016-03-10 08:34] ntim commented on #386
Check this: https://github.com/tvdzwan/hyperion/pull/538

[2016-03-10 08:36] ntim commented on #386
As far as I understand from the documentation, the fls-pp calculates the colors itself from the received x and y colors. The gamut values depend on the leds you connect. In this case, the code assumes the widest range possible.

[2016-03-10 08:37] ntim commented on #387
Check this: https://github.com/tvdzwan/hyperion/pull/538

You can also supply an array with specific light ids as explained in the wiki.

[2016-03-10 08:40] polykoma commented on #386
How can i get gamut values from existing stripes
( in my case its 18x red / green / blue   superflux leds - maybe you have seen my 800 led ceiling lamp project)

[2016-03-10 08:42] brindosch commented on #263
Seems a mess in my head ;)
@EvilBuu please read my comment :)

[2016-03-10 08:56] ntim commented on #506
Added documentation of the "lightIds" option to the wiki. This can be closed now.

[2016-03-10 08:57] polykoma commented on #506
Oh yeah  woop woop thank you!!!

[2016-03-10 08:57] ntim commented on #386
If it is not documented for your leds, then the values are probably not known. Please try if the code works now and colors come out correctly.

[2016-03-10 09:06] MarcDahlem commented on #186
@brindosch Did you mean my script? For sure, you can use it in the wiki, or maybe directly in the repo. But its only the init.d script, as I didn't need other startup scripts... ;-)

[2016-03-10 09:27] redPanther commented on #537
in cmake we can make the complete deployment process. The tar.gz could be created and named automaticly (even uploading is possible). I already thought about cmake "meta switches" to compile for ...-platform so we avoid writing extra shell scripts or doing this manualy.

btw. I would love to see that we make tags. Not after every merge, but after a milestone (what ever that is ... bugfixes, time (

[2016-03-10 10:25] brindosch commented on #387
Thank you @ntim

I will close this.

[2016-03-10 10:25] #387 closed

[2016-03-10 10:36] brindosch commented on #537
Wow, this sounds great.
Maybe we could "sort" aut the files that we don´t need for release image x (at the moment, all builds contain gpio2spi)
Also we need a additional service file for initctl
One with spi (spi platforms)
One without (x32 x64 leads to errors)

One last thing. How could i curl/wget the images from the "release" dir (the latest!) there is always the version number in between.
I fo

[2016-03-10 10:46] brindosch commented on #186
I will have look to extend this - later :) I would place it in the hyperion repo in a new directory :)
thank you MarcDahlem!

[2016-03-10 11:17] redPanther commented on #537
I updated my branch.
I also add an option "ENABLE_TESTS" - this is OFF by default.
If ENABLE_TESTS is OFF only the release important files are generated.

Then I add the install commands for the build targets.
now the compile process is this:
[code]
then your stripped and ready to deploy binaries are in deploy/bin.
I would delay implementing further deployment process. When you think my changes ar

[2016-03-10 14:59] brindosch commented on #537
i run into a problem.
i setting up a debian 7 32bit with crosscompile howto
I want to run the commands in create_all_releases.sh

I am sure this is related to rpi cmake?
http://pastebin.com/myZxRkuv

2.
If i run `cmake -Wno-dev ..`  i get the following output/files
http://pastebin.com/dPCrCycq
We don´t need protoc? Is this peventable?

[2016-03-10 15:02] brunano21 opened #539 "[Question] Hyperion XBMC addon for RPi"
Hi,

I see there is an Hyperion XBMC addon, [except for RPi](https://github.com/tvdzwan/hyperion/wiki/XBMC-addon-(not-for-RPi)). Will there be one for RPi in future?

Thanks.

[2016-03-10 15:04] tpmodding commented on #539
You have the xmbc Framegrabber...you dont need a addon??

Von meinem iPhone gesendet

[2016-03-10 15:19] brindosch commented on #539
Hello brunano21,
at the moment there are no plans for it.
What do you want to achieve?

[2016-03-10 15:56] redPanther commented on #537
this is not preventable, this is a install command in the protobuffer. We cant/wont change proto lib.
But I did a trick ;-) test my branch again (ad see the diff commit)

[2016-03-10 15:57] redPanther commented on #537
protoc is needed during compile to create cpp code for proto message class

[2016-03-10 16:19] brindosch commented on #537
hm
`root@debian7:~/hyperion/build-rpi# make -j4 install/strip`
`make: *** Keine Regel, um »install/strip« zu erstellen.  Schluss.`

[2016-03-10 16:31] redPanther commented on #537
hmm I never tried crosscompile hyperion. I use only 64bit linux (archlinux/kxstudio) on my desktop machines.

Can we try normal compile without the crosscompile first.

[2016-03-10 17:13] tpmodding commented on #537
pi@raspberrypi:~/hyperion/deploy/bin $ ./hyperiond hyperion.config_VIDEOGRABBER_lpd1.json
Hyperiond:
	version   : hyperion_version_id (redpanther-7709241/aaac3a7-1457626262
	build time: Mar 10 2016 17:07:08
Selected configuration file: hyperion.config_VIDEOGRABBER_lpd1.json

works :)

[2016-03-10 17:25] brindosch commented on #537
@tpmodding cheated with a Pi3?

On Debian 7
I could use `make -j4`
But no gpio2spi (should we "outsource" this? We don´t need that anyway every time am i right?)
No hyperion-dispmanx was build

Back on Rpi2 Wheezy

As tpmodding said, it it working with hypern-dispmanx
Without gpio2spi

[2016-03-10 17:30] redPanther commented on #537
gpio2spi should not be compiled when ENABLE_TESTS=OFF
is gpio2spi needed? for what purpose?

[2016-03-10 17:33] brindosch commented on #537
At least the old versions (onRPi)  won´t run if gpio2spi is not in -bin- dir
No longer required?

[2016-03-10 17:39] brindosch commented on #537
It is working without, huh strange. Ok then this was weeks ago a fault interpretation

[2016-03-10 17:39] redPanther commented on #537
I have a pi1 and hyperion runs fine without. But I use systemd (not the old init scripts) and no spi.

I saw the deployed init script for hyperion wants to start gpio2spi. If this is needed, the sorces shouldn't be located in test folder - we should move it to "src"

[2016-03-10 17:41] brindosch commented on #537
I also tested with systemd. hm
And i have not tested Xbian. which service it is used now

[2016-03-10 17:45] redPanther commented on #537
did you use spi leds like ws2801 (I have ws2812), did they work? if yes we can kick the gpio2spi from the init script. BTW I'm sure new ws281x stuff will make gpio2spi obsolete

[2016-03-10 20:28] StoneAgeSkillz opened #540 "Hyperion process dead on Raspberry Pi and ws2812b"
So, i've installed Hyperion on OSMC RPi 2.
Hyperion status - running.
Created config with HyperCon.jar, uploaded to RPi.
Hyperion restart.
Hyperion status - running.
Altered to use with ws2812b, like many times before:

"device" :
{
    "name"       : "MyPi",
    "type"       : "ws2812b",
    "colorOrder" : "rgb"
},

Hyperion restart.
Hyperion status - proced dead:
osmc@osmc:~$ sudo /etc/init.d/hy

[2016-03-10 21:28] brindosch commented on #540
We provide just support for RPi1 + PWM (leds) at the moment. A patch will be applied soon (see pull requests)
Users reported, that since osmc 11.2015 the support for pwm is broken.
Did you upgraded from a Pi1?

[2016-03-11 02:53] meowmoo commented on #493
Im Using the x11 file on my OE Chromebox, only way to get light in menu, and its missing in this install
any chance you add it?

[2016-03-11 07:00] redPanther commented on #532
close issue, because PR is made, further discussion should be there

[2016-03-11 07:00] #532 closed

[2016-03-11 07:14] redPanther commented on #478
The time I switched from my rpi1 to rpi2 for my media center stuff I used my edimax wlan dongle from rpi1. This seems to work - first - but after some time connection was lost and I wasn't able to stream movies. Using good old cable works perfectly.

Some of my friends found out that sometimes there is a problem with the device power saving mode (from usb or the wifi dongle), but nobody found a so

[2016-03-11 10:04] brindosch commented on #537
@redPanther
I just get that qt4 error again and again. It doesn´t make sense! I can´t find any answer on this.
Log: http://pastebin.com/uqVANPpx
Output search
http://pastebin.com/cxGFbNcG

I tested this with the hyperion master branch
If i use your branch, no file for cmake was created, but no error.

I would really appreciate any hints :/

[2016-03-11 10:09] redPanther commented on #537
i will setup the crosscompile toolchain in next days. today I have no time for that. Perhaps qt4 isn't find in the crosscompile environment or this is mixed between crosscompile and system environment ....

[2016-03-11 10:15] brindosch commented on #537
We will build new image this evening *byhand*.

[2016-03-11 13:29] brindosch commented on #493
The builds are from tvdzwan and due to the script he used it is very limited what is inside the tar.gz
We publish new official images (with the platform depending grabbers) this evening  (i have no time, maybe @tpmodding could) or tomorrow.
This script will be part of it. Also a new HyperCon version which support all latest Hyperion features!
We have problems to setting up the crosscompile fully w

[2016-03-11 15:47] #12 closed

[2016-03-11 18:41] tpmodding commented on #10
we have now all grabbers, i close it :)

[2016-03-11 18:41] #10 closed

[2016-03-11 18:44] tpmodding commented on #35
@pete111 we dont need a "hd" quality...it can also be blured...the screen will be convertert in "frames" and then we only get the pictures...i have utv007 and stk1160 and both are working fine!

[2016-03-11 18:50] tpmodding commented on #376
@zarboz any updates? is this fixed?

[2016-03-11 18:51] tpmodding commented on #386
merged, think we can close this?

[2016-03-11 18:58] meowmoo commented on #493
Where should I keep an eye on for the chances, tvdzwas Hyperion or your hyperionbeta?

So just I get it right, in a few days, no stress here, I got a working setup, I can install with this method, and get the latest x11 and Hyperion stuff, running in my OE chromebox.

[2016-03-11 18:58] StoneAgeSkillz commented on #540
Yes, i did, recently. You are right, on RPi 1 it worked until 2015-11 update, but because of that i'm still running 2015-10.
Does WS2812b + PWM work on OSMC 2015-10?

[2016-03-11 19:01] brindosch commented on #493
The tvdzwan branch, i asked him for rights to help him manage his project. He is very busy.

[2016-03-11 19:01] tpmodding commented on #540
we will test all in a few hours :)

[2016-03-11 19:03] meowmoo commented on #493
Thanks,

And thanks for keep  this nice project up to date

[2016-03-12 00:40] snaked78 commented on #540
Rpi B+ - Openelec (5.0.8-6.0.3) - ws2812b, according to instructions from wiki = is not working.
A couple of weeks ago, everything was fine

[2016-03-12 01:11] brindosch commented on #540
You are using a RPi1?
You are welcome to test the fresh binarys :)
http://1drv.ms/22a6fk0

[2016-03-12 03:05] brindosch commented on #493
@meowmoo
New Rpi/x32/x64 images are online. Please advice me, in which way the installations process should be changed to support a working x11 right away after install.

Thank you

[2016-03-12 03:36] brindosch commented on #525
To provide better support for pwm users. (At least through the latest commit!)
I extended the install script. Testers are welcome.

Feature: Adds the dtoverlay=pwm automatically if not set (all rpi system/distros)

The usage is easy, just start the script with the pwm argument like shown bottom.

[code]
The images are even with hyperion master, so no downgrade for you

[2016-03-12 13:46] snaked78 commented on #540
@brindosch I use the first RPi. I can not run Hyperion. I use the new Hypercon to create a configuration file. Сonstantly one and the same problem - Unable to connect to host.
What am I doing wrong?

[2016-03-12 15:03] brindosch commented on #540
Thank you for feedback, i will compile new bins for testing now

[2016-03-12 15:41] snaked78 commented on #540
OSMC 2016.02-3 does not work. Installation is made from your script [#493](https://github.com/tvdzwan/hyperion/issues/493)
I have not much to thank. I'm just a user. But thank you for, then what you're doing all this work.

[2016-03-12 15:53] brindosch commented on #540
Please insert the new hyperiond and check that the execution (x) is set.
Please don´t test at osmc at the moment, The script changes on osmc the user of hyperion to osmc/osmc, It is not possible to access the pwm pin!

[hyperiond.zip](https://github.com/tvdzwan/hyperion/files/170473/hyperiond.zip)

[2016-03-12 16:10] Will1707 commented on #530
I tried again with the install script on a fresh install of OSMC and added by config file but it still dosen't work. I dont get any errors when i start or stop hyperion but when I send a test command it says 'unable to connect to host'

[2016-03-12 17:23] snaked78 commented on #540
@brindosch You are the best!!! Now everything works !!!

[2016-03-12 18:24] kiryl85 commented on #540
Hi @brindosch, I have RPi2 with OSMC and ws2812b leds so if you want to have something tested just please let me know and I will try do this as quickest as possible.

[2016-03-12 18:27] kiryl85 commented on #525
hi @brindosch. May I know what is the usage for PWM variable in your script? I see it's set to "1" after using WS281X argument but that's all. PWM is not used anymore.

[2016-03-12 20:18] StoneAgeSkillz commented on #540
As i wrote i'm not experienced at this linux stuff. But i learn fast. And i would like to help with testing.
If you provide some instructions, i'll do my best.

[2016-03-12 23:31] brindosch commented on #525
You are so right, i just pushed this very fast and never tested it. I was sure all is in place :)
Now it should work :)

[2016-03-13 00:49] meowmoo commented on #493
can get it to work,
wiped everthing hyperion related + autostart and did a fresh install
get this
[code]

but everything looks good.
but i cant start hyperion.
when i replace the libs with the "old on it works"
http://i.imgur.com/UEPqk4o.jpg
this are all libs i use at the moment
if i should provide more info, you need to tell me how :>

about the x11 autostart, Ask if the user wanna use x11, if ye

[2016-03-13 10:10] denn64 commented on #525
Tell me, do I need to connect to my raspberries pi2 gipo18?
I understand that the tape ws2812b work directly with raspberries 2? has more detailed instructions ? I do not quite understand everything because of Russia . sorry for my English

[2016-03-13 10:11] polykoma commented on #386
What means merged?

I couldnt test for feedback yet....

Sorry githhub sometimes is weird to understand for me

[2016-03-13 10:42] penfold42 commented on #525
Yes - you use gpio18 for the data connection. You should use a level shifter if your strip is powered by 5V.

Only the "type" : "ws281x" supports rpi1,2 and 3. The original ws2812b only supports rpi1

[2016-03-13 10:56] penfold42 opened #543 "Configuration Reference wiki is incomplete"
Hi all,

I've created a new wiki page https://github.com/tvdzwan/hyperion/wiki/Configuration-Reference to detail all configuration options.
I've grepped through the source hopefully catching every config item thats there right now.

I dont know what the best format is to describe all the options, but I've made a start on a couple I know all about!

Please help with more detailed descriptions! *gri

[2016-03-13 11:19] penfold42 opened #544 "Network and distributed features wiki is incomplete"
Please help flesh out the newly introduced features that allow us to use a distributed deployment in oh so many ways...

I've started:
https://github.com/tvdzwan/hyperion/wiki/Network-and-distributed-features

[2016-03-13 11:22] brindosch commented on #543
Thank your for your work on this. We need a big buck of time until all is good described
Additional not all devies are in HyperCon (like UDP, i found a documentation in the repo deps....)
Work.. Work.. Work..
2 years of no care :(

If someone wants to help to add (explain) all HyperCon options just do it!
@tpmodding and i spent too much time last days to hyperion. We have to "calm" down a little b

[2016-03-13 11:23] brindosch commented on #386
Just update your Hyperion with the install script and report back :)

[2016-03-13 11:28] redPanther commented on #543
thx for the hard work!!!
just short todo:
missing: grabber configs
good thing is to sort (devices) alphabeticly.
add example code for config
link section to wiki page if exists (e.g. network stuff)
documentation about default values

[2016-03-13 12:06] WeeJeWel opened #545 "[Feature request] Discovery (zeroconf, broadcast)"
It would be nice to discover a hyperion server by a broadcast, or zeroconf (Bonjour) for example.

[2016-03-13 12:20] denn64 commented on #525
and who can provide a link to an image with a ready-made solution raspberry pi2 ws2812b. I did not poluchaetsya tape does not burn .

[2016-03-13 12:34] NicoHood commented on #543
I find it really hard to make wikis looking good and finding what you are searching for. To keep a good overview you need to use some style formats. Also you should avoid duplicating information.

So I'd rather create a proper wiki page about the .json config file and describe all possible parameters (especially the possible devices). The tool basically just changes those values. You can link to t

[2016-03-13 12:47] brindosch commented on #525
@Zappatron
Could you code a fix on @redPanther  idea?
I am sure the users would love it :)

[2016-03-13 12:50] penfold42 commented on #543
All good points above - we almost need a table format for the parameters - name, type, range, default, mandatory.

I'll look into why my grep through the source missed the grabber options - I suspect I started too low in the file structure.

Funny you should mention the colororder. The code looks crazy to me when I was looking at it today. I think it needs refactoring. It's parsed a couple of time

[2016-03-13 12:53] penfold42 commented on #545
Me too!

I was watching a tcpdump today as the iOS app did a sweep of the local subnet.

I have 3 instances running on one box and zeroconf would let the app find the instances running on non default ports.

[2016-03-13 12:54] NicoHood commented on #543
I do not know about the colororder feature, but I can think of two implementations:
* It is a general color order setting (which would be bad)
* It would be an optional parameter for every device, cause some led strips invert colors

If it is the last option It would be cool if this is optional, cause then we can shorten the examples for RawHID devices. But well. Hm maybe not. It might be a good i

[2016-03-13 13:02] brindosch commented on #543
At least the WS2801 change their color order from stripe to stripe. As far as i know tha apa102 are all the same order.
To keep it running - i would leave it as it is (for the moment)
Keep in mind that i have to change HyperCon too and what do we do with people that update hyperion but not the config? I am not sure if this is necessary (fot the moment :) )

[2016-03-13 13:04] penfold42 commented on #545
This doesn't look too hard http://avahi.org/download/doxygen/client-publish-service_8c-example.html

So now we need to think about service names and how we uniquely identify multiple instances on the same host.

Maybe the existing "device name" can be reused.

What services do we need ?
proto, Json, bob light and I guess my UDP led receiver can register itself in Python

[2016-03-13 13:09] penfold42 commented on #543
Ws2811 can be built in any colour order too. Anything with a discrete chip could do crazy stuff.

No problem with the 2812 - it's all integrated !

[2016-03-13 13:20] brindosch commented on #493
@meowmoo
From where did you gather your libs?
I will talk with tpmodding that we provide a x32x64 lib package, the install script is capable to handle this.

Is there a negativ side effect, if we start it by default? I would prefer a "user failsave" method.
Do we need the `DISPLAY=:0.0 LD_LIBRARY_PATH=$LD_LIBRARY_PATH:` call? Or it is workin without too?
Is this call on all x11 platforms the same?

[2016-03-13 13:48] kiryl85 commented on #525
hi @penfold42. My current setup is based on arduino via USB and it works great. But I would like to check connection directly via GPIO.
So on RPi2 it should work as long as mentioned level shifter for data is used, correct? Could you please provide me with a link to a correct level shifter?
 In addition, can 5V and GND for this level shifter be taken from GPIO pins?

[2016-03-13 14:12] penfold42 commented on #525
I've never used a level shifter personally - my testing with a short strip was ok.
Google found this: http://happyinmotion.com/?p=1247

The 5v for the level shifter is fine from the gpio header but don't power the led strip from the gpio.

[2016-03-13 16:51] denn64 commented on #525
Tell me, is it possible to run on ws2812b raspberry pi2? or necessarily need arduino? I can not understand. there are detailed instructions ?

[2016-03-13 16:53] kiryl85 commented on #525
Thank you @penfold42. I will take a closer look on it. Right now I'm wondering if I can test connection straight from RPi2 without level shifter   to see the results. Can it damage my LED strip?

Also, @brindosch, I'm sorry for another uncomfortable question but which version is installed by your script? The one without PWM functionality, am I right?
Additional ws.. parameter is used only for addi

[2016-03-13 17:48] meowmoo commented on #493
illiac4 provided them in the kodi Forum http://forum.kodi.tv/showthread.php?tid=180472&pid=2005414#pid2005414 --> http://bite-in.com/hyperion/Hyperion_OpenELEC_x64.tgz

I'm not aware of any negativ side effect, since i switch to hyperion, i always run it with x11

yes you need the `DISPLAY=:0.0 LD_LIBRARY_PATH=$LD_LIBRARY_PATH: call`
I cant tell if its on all x11 platforms the same

[2016-03-13 21:45] penfold42 commented on #525
@kiryl85 if you wire it correctly it is safe.
I ammended the wiki https://github.com/tvdzwan/hyperion/wiki/WS2812b-PWM-led-devices to include discussion of the new driver and there is an existing diagram there.

[2016-03-13 21:52] brindosch commented on #493
Thank you for the information. I added the libs as new dependencies for OE x32x64. They will be used automatically on next install.

The x11 startup modification is not implemented yet, but you could update without destroying your autostart.sh.

[2016-03-13 21:58] brindosch commented on #525
@kiryl85
With both repos (my and hyperion) you will get a pwm enabled version.
As you saw above, there is no support for 2812B on Pi2/Pi3 as long no one implements it :)

At the moment it is just to add the dtoverlay=pwm to config.txt and ensure the user is correctly set on osmc. If we need more, i will add it.

[2016-03-13 22:23] brindosch commented on #493
I will close this now. To prevent confusion.
/done

[2016-03-13 22:23] #493 closed

[2016-03-13 22:24] brindosch commented on #431
Should be done, if not please open a new issue.
/closed

[2016-03-13 22:24] #431 closed

[2016-03-13 22:29] brindosch commented on #449
I tested this with the toolchain too, nothing changed on "file hyperiond".
We will have a deeper look on this.
/closed

[2016-03-13 22:29] #449 closed

[2016-03-13 22:31] brindosch commented on #346
Due to the point it is not really hyperion related and no one answered for over a half year
/closed

[2016-03-13 22:31] #346 closed

[2016-03-13 22:52] penfold42 opened #546 "rpi_ws281x dependency needs updating"
How do we change the dependent version?
 	rpi_ws281x @ 34c917e fails for some RPI3 devices because the model detection fails.

master has the changes that I created to add an additional model number.

This is the error you get:
Application build time: Mar 12 2016 15:15:29
QCoreApplication initialised
Selected configuration file: /etc/hyperion.config.json.pwm
ColorTransform 'default' => [0; 81]
Dev

[2016-03-13 22:59] brindosch commented on #546
We have no new images, the rpi image is just replaced with a working on for ws2812. on RPi1.
The latest commit from redPanther and yours through the lib is not implemented!
We hope to start soon with a better image releasing system :)

[2016-03-13 23:16] penfold42 commented on #546
Huh ? I'm confused. I just pulled down the tar file in the deploy folder and it seems to have the new ws281x driver in it

[2016-03-13 23:29] brindosch commented on #546
Now i am confused. your commit last night at the lib is not in the bin. check the build date above.
Is this subproject commit change necessary or thought you it won´t work with it?

[2016-03-13 23:47] penfold42 commented on #546
Note - I have no real idea what in doing with git so if something looks stupid it could very well be!

The sub module we use - rpi_281x only worked on some rpi3s, not all of them because it's pi version detection was missing another check.

I fixed it in its repository and my pull request was merged a couple of days ago.

What I'm not sure of is how in hyperion a git repository to correctly update

[2016-03-14 06:08] NicoHood commented on #493
It would be nice to separate the download script from the installation script though. I personally always recompile the source myself. So it would be nice to copy the effects, config file, binaries and install the service from the local git folder instead of downloading them.

The download script could just call the install script afterwards. Or maybe a parameter for the install script like ./inst

[2016-03-14 13:20] redPanther commented on #545
I think bob light is not needed, because the boblight client didnt use zeroconf.

mainly the json server should support auto discovery, because it is controllable by a client with ui like the android app.

having this for proto too would be very nice, because this makes forwarder config very easy.

e.g.
[code]
then all messages would be send to all available clients.
Nice thing - anyone to impleme

[2016-03-15 08:07] Bootscreen opened #548 "get current state with JSON?"
Hello,

is it possible to get the current state over the json interface? i.e. the current (lowest priority) effect or color

Greetings Bootscreen

[2016-03-15 09:55] penfold42 commented on #548
Have you tried Hyperion-remote -l ?

[2016-03-15 10:08] Bootscreen commented on #548
no, because on the remote system i don't have hyperion.

[2016-03-15 10:22] p1n9 commented on #548
try to send the json object : {"command": "serverinfo"}

[2016-03-15 10:25] Bootscreen commented on #548
maybe i am blind, but where can i find the active effect in the result?

[2016-03-15 10:28] p1n9 commented on #548
you will not see the active effect name, only it's priority and duration

[2016-03-15 10:32] Bootscreen commented on #548
any other possibility to find out the current effect?

[2016-03-15 10:33] p1n9 commented on #548
I'm afraid not...

[2016-03-15 10:50] p1n9 commented on #548
a workaround : you can set effects with different priority in order to use priority as "id"

[2016-03-15 13:52] Bootscreen commented on #548
that doesn't work in my case.

i wrote a module for the homeautomation server FHEM in which i can set color or effect. and now i would like to implement the current state as current color, effect or grabber, no matter from where it's startet

[2016-03-15 19:57] polykoma commented on #386
I hope my internet in my new flat will work soon :)
Ill report back then!

How to follow/keep an eye on this #386 ?

Anything like favorite function for it to find it again?

[2016-03-15 21:12] brindosch commented on #546
@penfold42
Any update on your issues?

[2016-03-15 22:12] RickDB commented on #545
There's also a Qt based zeroconf / avahi option:

https://github.com/johanneshilden/qtzeroconf

[2016-03-16 14:52] djhansel commented on #168
Hey guys, after looking all over the internet for a good solution to this, I decided to make my own. I just finished a prototype of a simple C# application that captures the screen using Direct3D9 and sends it to a Hyperion server using the JSON interface. I am finishing up some refactoring now and will be uploading it soon. The application will have a tray icon to enable/disable the capture and a

[2016-03-16 15:05] El-Mare commented on #168
Hi djhansel,
this sounds awesome! Thanks for your efforts!
Will this work with Win 7/8.1 and 10?
Do I just need to enable the UDP listener "effect" in my RPi hosted Hyperion for this to work or is there something special about this?

[2016-03-16 15:16] IDmedia commented on #168
Awesome! I'll contribute once you've published the code. :)
On Mar 16, 2016 15:52, "djhansel" <notifications@github.com> wrote:

[2016-03-16 15:34] tpmodding commented on #168
@El-Mare as he said he wonna use the json port :) you dont need the effect... :)

nice to hear @djhansel !! cant wait to test it :)

[2016-03-16 15:39] El-Mare commented on #168
Ah, overlooked this part ;) Even better...

[2016-03-16 17:03] MakeMeASandwich commented on #548
Related: #398

[2016-03-16 18:17] KenV99 commented on #168
Nice work djhansel. Since it will be sending color LED data directly from screen capture I am wondering if you were able to implement a black bar detection algorithm - something I am frequently asked about for the Kodi non-hyperion addon?

[2016-03-16 19:40] djhansel commented on #168
@KenV99 The application sends the pixel array to hyperion which already implements the black bar detection. It's similar to using the "hyperion-remote -i image.png" command, but over the JSON interface.
@El-Mare I have only tested it on Windows 8 64-bit.

[2016-03-16 20:43] alex240188 opened #550 "Aarch64 compile error"
I'm attempting to build for the 64bit amlogic s905 processor.
However protobuf seems unable to compile on the target platform.
It built successfully using amlogic grabber & fb grabber which I have used previously on s805 hardware.
When starting Hyperion it starts up fine but would not establish a connection to Kodi to get play modes despite using the correct settings. Is protobuf required for the

[2016-03-16 21:10] emms007 opened #551 "Proto/json forward crashing"
Hello,

I am using a 3 instances of HYPERION along with the Proto/Json forward recent commit.
The hyperion instances are running 24/24,. The main one, is receiving PROTO & JSON content coming from a remote hyperion-v4l daemon, but only a few hours a day.

About every two days, the main hyperiond service is crashing and needs manual restart. I kept a screen session running and noticed such outcome:

[2016-03-16 21:33] brindosch commented on #537
@redPanther
We have a running build machine now (sad no imx6...). I tested again with your version_id branch and all is working as expected.
Maybe i have to ask again later to setting up the "release version in hyperion".
You could commit your changes.
Thank you for all efforts.

[2016-03-16 21:33] penfold42 commented on #551
Can you keep an eye on the memory usage of the Hyperion process ?

[2016-03-17 16:18] djhansel commented on #168
Hey guys,

I have published the code and a compiled version here [https://github.com/djhansel/HyperionScreenCap](https://github.com/djhansel/HyperionScreenCap)

Please feel free to fork and modify as you see fit and let me know how it works for you.

[2016-03-17 16:19] brindosch commented on #530
@Will1707
Could you provide a hyperion log?
Thank you

[2016-03-17 16:25] djhansel commented on #168
Just realized that embedding the SlimDX.dll in the application is not working. I am going to fix the release zip file to include the dll and remove it from the solution files.

[2016-03-17 23:18] El-Mare commented on #168
Hi djhansel,
just wanted to confirm that HyperionScreenCap works like a charm on Win7 Prof 64. I haven't experienced any delays over WiFi after fiddling a bit with the config. To get it working I downloaded the full package of DirectX9 (from chip.de), since the web installer from Microsoft didn't install anything - weird.
So, BIG THANKS for making this possible!!!

One issue though: HyperionScreen

[2016-03-17 23:35] Culloden-Spectre commented on #525
@brindosch
Mate, thank you so much for your script!
I have tested your scripts using OpenELEC (latest version as of yesterday) and could not get it to work, even took out my old CRO and there was no activity on the pins. not sure what has gone wrong on my end but i spent a couple of days testing and could not get it working for me.

Then decided to run your script on a fresh install of OSMC, chang

[2016-03-18 01:11] penfold42 commented on #525
I'm struggling to get mine working on OSMC.
Can you please send me :
What model pi ?
uname -a
cat /boot/config.txt
lsmod

[2016-03-18 02:30] Culloden-Spectre commented on #525
[RPi3Config.txt](https://github.com/tvdzwan/hyperion/files/178993/RPi3Config.txt)

@penfold42 hope this helps

[2016-03-18 04:22] penfold42 commented on #525
Thanks so much - will divide and conquer the differences !

[2016-03-18 09:07] Olevinn opened #555 "only 288 bit package"
Hy,

My problem: only first 12 pcs led light, more not light.
I measure PWM signal, attached. Only 288 bit send RPi GPIO18, what's wrong?

[Signal](https://i.imgsafe.org/c049995.jpg)
[Wait](https://i.imgsafe.org/02953bd.jpg)

signal All led **FFFFFF**:
RPi send package 288 bit with 800kHz ~ 288 / 24 = **12 pcs led**
signal wait ~9.7 ms

**My hardware config:**
Raspberry Pi2
OpenElec 6.0.3 RPi2.arm

[2016-03-18 10:00] penfold42 commented on #555
Add
 ""eds"= 256,

To your config if you have 256 leds

[2016-03-18 10:12] Olevinn commented on #555
Oh...
"leds: 92 works..
HyperCon.jar wrong?

[2016-03-18 10:12] Olevinn commented on #555
Thank you!

[2016-03-18 10:16] brindosch commented on #555
@penfold42
It is possible to use with ws281x device ws2812b too? On all Pis? We could kick ws2812B option? And when should you choose ws2812b?
Sorry, i really need more clarification on this, at least to write it down for all.

[2016-03-18 10:18] Olevinn commented on #555
WS2812b PWM only Raspi1
WS281x PWM raspi2 and 3

[2016-03-18 10:20] brindosch commented on #555
@Olevinn
Thank you :)
My HyperCon produces configs >200 leds. I don´t knwo what is wrong with your setting. please report back :)

[2016-03-18 10:33] penfold42 commented on #555
The ws281x driver probably needs a better default than 12.

It should really use the number of configured LEDs.

If I get time over the weekend I'll look into it.

AFAIK this is the only driver that needs a "hard coded" value, but in its defense it is a very recent addition and is an external project that has been hastily dropped in to Hyperion.

BUT it's still the best workable approach for now

[2016-03-18 10:36] penfold42 commented on #555
Btw, I updated the wiki a few days ago at https://github.com/tvdzwan/hyperion/wiki/WS2812b-PWM-led-devices to briefly cover the different drivers

[2016-03-18 10:41] Olevinn commented on #555
It is possible that I was careless.

[2016-03-18 10:45] brindosch commented on #555
@penfold42
thank you for the wiki update. I didn´t notice, good work indeed.
I saw the imported values in your code. Please write down which values the user should capable to change with HyperCon with min/max values, i will add it.

[2016-03-18 12:26] tpmodding commented on #326
@iLLiac4 @sticilface @Povezi

It works! I use ONLY an esp8266
https://www.dropbox.com/s/dxnn1zr6dedx0qh/Datei%2016.03.16%2C%2018%2006%2032.mp4?dl=0

@SciLor is working on it, but still have to do some changes :)
http://www.forum-raspberrypi.de/Thread-hyperion-tutorial-esp8266-nodemcu-addon-wifi-led-controller-udp
https://github.com/SciLor/ESP8266_Hyperion_LED-Controller

[2016-03-18 12:27] #326 closed

[2016-03-18 12:35] penfold42 commented on #555
Not my code, but until we fix the driver properly is it easy to get Hypercon to put the correct value in ?

Hypercon just needs to set it to the number of LEDs which it already knows

[2016-03-18 12:41] penfold42 commented on #326
Here's my original code that I wrote to use my UDP driver if anyone's interested:
https://github.com/penfold42/stuff/blob/master/ESP-udp-neo.ino

[2016-03-18 13:11] djhansel commented on #168
Hi @El-Mare  I am happy to hear that it works under Windows 7. I am currently installing a Windows 10 VM to find why is not working.

[2016-03-18 13:15] Povezi commented on #326
penfold42, it looks interesting...
so if I send
1222\n
22111\n
333222\n

1 led will be hexcolor222, 22. led will be hexcolor111 and 333. led will be hexcolor222 ?

[2016-03-18 13:21] brindosch commented on #168
@El-Mare @djhansel
It is working for me with Windows 10 64bit Prof.
Thank you for this great extension!
If you like, you could add it to the hyperion wiki and/or to the repo if you want. Decision is up to you.

[2016-03-18 13:41] penfold42 commented on #326
Close!

The ascii stuff kinda grew and I never cleaned it up to the parse has to look for a few possibilities.

7ABE sets led 7 to colour A0B0E0

42FF7700 sets hex led 42 to FF7700 i.e. Full red with some green added

Then it some longer led atrips!
10CFF7700 sets hex led 10C to the same colour

*00F sets all LEDs to bright blue

[2016-03-18 13:42] penfold42 commented on #168
I'd love to see this included - I was going to have a go at this myself

[2016-03-18 14:22] penfold42 commented on #168
I cant seem to get DX9 installed on my Win7 x64 box 8-(

the "web" installer doesnt do much, and there's no way im installing a full something like DX from a non microsoft source

The old copy of DX9 from ~2002 refuses to install as theres a newer version.

I wonder if DX11 has similar APIs we can use?

[2016-03-18 14:42] El-Mare commented on #168
@penfold42 I had the same issue... just use the full package from [here](http://www.chip.de/downloads/c1_downloads_auswahl_15807515.html?t=1458311160&v=3600&s=4b9593275f8c67d7613476f27f9bac6d) (German source). This worked for me.

[2016-03-18 16:39] apurbas opened #556 "Lightberry + Philips Hue + Hyperion"
Hello All,
I'm using Lightberry on Rpi1 with Openelec (custom build available on Lightberry site). I'm struggling to control one more device ( 3 Philips Hue +1 bloom on old round bridge) using hyperion. I have created a config2 file for Hue, reusing the Lightberry config
http://www.jsoneditoronline.org/?id=e76e860e66731b65b3c3ce8cce8f6a9e

Proto/json servers are successfully created for config2 bu

[2016-03-18 16:45] ntim commented on #556
Mmh, color order has to be "rgb". Do you have the very latest version of the code from github?

[2016-03-18 17:01] apurbas commented on #556
Hi @ntim - agreed, but the lightberry config surprisingly creates this color order. I think I have the latest one only. Could you suggest me a way to reverify this?

[2016-03-18 17:55] stefansaraev commented on #550
not at all. you may want to set xbmcAddress to ::1 instead of localhost.

[2016-03-18 19:09] Osmii commented on #540
Hi!
Today i installed Hyperion on Raspberry pi 3, with latest Osmc. I connected 50 Ws 1812b leds. Hyperion at that time worked fine. Then i generated config file with hypercon and then send it over sftp. Before that i maually corrected some parameters in config file as discripted in wiki. After that i couldnt start Hyperion no more. That status was returnd to me ;root@Medijskicenter:/home/osmc# su

[2016-03-18 19:35] kixounet opened #557 "Raspberry Pi2 + Arduino + WS2812B strange behaviour"
Super Hyperion guys,

First of all, here is my setup :

Raspberry PI2 running openElec.
My Pi is connected to an arduino UNO R3 using USB.

I have a led strip WS2812B of 184 leds (powered by an external powersupply)

I am using the internal frame grabber with the default configuration :
`"framegrabber" :
	{
		"width" : 80,
		"height" : 45,
		"frequency_Hz" : 10.0,
		"priority" : 900
	},`

Everythi

[2016-03-18 19:36] kixounet commented on #557
(and of course video in 1080 works properly if I kill the hyperiond process)

[2016-03-18 20:17] alex240188 commented on #550
Ah thank you for this one.
I didn't expect it would be looking for ipv6 format because it's connected to the network using ipv4.
Now menu grabbing seems to be alive but no video.
Doh I didn't enable amvideocap.
I'll recompile and try again

[2016-03-18 20:19] StoneAgeSkillz commented on #540
As lon as i see it you are usin WS2812b, but config is not for them. Or is ws1812b right? And @brindosch wrote we should not test is on osmc, it's not posible to acces pwm pin. this is why it does not work.

[2016-03-18 20:21] djhansel commented on #168
@brindosch I am okay with adding this project to the WIKI. I want to make it a bit easier to install. I will be working on creating some kind of package that will check for DirectX and install the correct version if needed, as well as, maybe putting the software in Program Data.

[2016-03-18 20:25] penfold42 commented on #168
That would be brilliant !

Thanks

[2016-03-18 20:30] alex240188 commented on #550
Hyperion still fails to grab amcodec video
here is the log
Failed to retrieve video state continues indefinetely
`OpenELEC-M18:/dev # /storage/hyperion/bin/hyperiond.sh /storage/.config/hyperion
.config.json
Application build time: Mar  8 2016 14:01:48
QCoreApplication initialised
Selected configuration file: /storage/.config/hyperion.config.json
ColorTransform 'default' => [0; 153]
Device configu

[2016-03-18 20:59] stefansaraev commented on #550
then your amvideocap is probably not correctly set up, double check device tree
I have an s905 device here, need to compile openelec for it, and will try reproduce this weekend.

btw, here is what I have working like charm on my wetek core (s812) : http://sprunge.us/iXUd

[2016-03-18 22:03] penfold42 commented on #540
hyperiond[1680]: Can't open /dev/mem: Permission denied

What user account is Hyperion running as ?

[2016-03-19 00:43] #437 closed

[2016-03-19 00:44] brindosch commented on #389
This should be done

[2016-03-19 00:44] #389 closed

[2016-03-19 00:48] brindosch commented on #392
Like mentioned, as long there is no easy solution that don´t produce more work. But maybe we will get a bigger change here in the next weeks.

[2016-03-19 00:48] #392 closed

[2016-03-19 00:50] brindosch commented on #417
10 days, just open a new one, if necessary
Thank you

[2016-03-19 00:50] #417 closed

[2016-03-19 00:52] #418 closed

[2016-03-19 00:54] brindosch commented on #461
@Petoodle
Any updates?

[2016-03-19 00:55] brindosch commented on #497
/Cleanup :)

[2016-03-19 00:55] #497 closed

[2016-03-19 00:56] #537 closed

[2016-03-19 00:56] #539 closed

[2016-03-19 01:09] brindosch commented on #540
@Osmii
the install script can´t handle the right settings for PWM leds. I will fix this on sunday during the bigger hyperion update and update the wiki accordingly too.

change the hyperion user from osmc to root
`nano /etc/systemd/system/hyperion.service`
`User=root`
`Group=root`
User reported, that on newer osmc versions >=11.2015 nothing works.
Could you report this?
and make sure you added `dt

[2016-03-19 01:41] Petoodle commented on #461
Yeah, I tried prismatic aswel now. Both prismatic as ambilight give different glitches. I can't exactly explain what the glitches are, because it is so random. In prismatic it does not have the same intervals of colour that it glitches. And in the paint method the colours are fine, but normally used, 9/10 times it doesn't represent the colour of the screen but is pretty random. Ambibox has the wei

[2016-03-19 05:19] apurbas commented on #556
Hello @ntim
Changed the config to rgb without any effect :-1:
Error seems -
hyperiond: /home/pi/fix_do_apa/hyperion/dependencies/build/jsoncpp/json_value.cpp:1136: Json::Value& Json::Value::resolveReference(const char*, bool): Assertion `type_ == nullValue || type_ == objectValue' failed.
Aborted

[2016-03-19 06:34] penfold42 commented on #389
possibly a bit late, but if you define nonsensical values for hscan or scan the framegrabber won't illuminate those LEDs.
This may meet the requirement but there are some limitations:
1 Any effects that uses hyperion.setImage will also fail to illuminate those LEDs (eg: knight rider) but effects that use hyperion.setColor to reference LEDs by number will work fine.
2 You cant use them independentl

[2016-03-19 09:06] ntim commented on #556
Ok, then follow the steps described https://github.com/tvdzwan/hyperion/issues/506 to produce a stack trace to see where the error is coming from.

[2016-03-19 10:04] alex240188 commented on #550
Hmm. Looking around I see my DTD lacks reserve-memory and reserve-iomap for amvideocap.0
I'll try adding and recompiling tonight and see if that sorts it.

[2016-03-19 10:38] RickDB commented on #544
Just reworked the page a bit with split examples and clearer layout.

[2016-03-19 11:27] RickDB commented on #551
Have had it running with 2 daemons with main APA102 and secondary AtmoOrb for about 5 days now without issues, which devices are you controlling in each daemon?

[2016-03-19 11:40] Osmii commented on #540
Well, i changed hyperion user and group to root and it started to work :)
Im using Raspberry Pi 3, OSMC 02/2016 and 59 of Ws1812b leds. The leds are connected on GPIO 12!
Config in .jar file is;
                "name"       : "MyPi",
		"type"       : "ws281x",
		"colorOrder" : "grb",
		"leds"       : 59,
		"gpio"   	 : 12,
		"dmanum" 	 : 5,
		"freq"   	 : 800000
I didnt added  dtoverlay=pwm becaus

[2016-03-19 12:02] emms007 commented on #551
Hello,

I checked manually several times memory consumption but did not see anything wrong. Just checked again this morning and surprisingly I got two out my three hyperion  crashed.

Last messages from my main hyperion terminal show same symptoms are before:
`
No connection to Hyperion: 127.0.0.1:19446
No connection to Hyperion: 127.0.0.1:19446
No connection to Hyperion: 127.0.0.1:19446
No connec

[2016-03-19 12:23] penfold42 commented on #544
Great work, thanks !

[2016-03-19 12:25] penfold42 commented on #540
I've noticed the hdmi problem too.

After a reboot it happens, until I play a movie !

Do you see this too ?

[2016-03-19 12:25] ntim commented on #556
You could also try my fork, it has a more precise output and more validity checks, will make a pull request as soon as I tested it extensively.

[2016-03-19 12:28] brindosch commented on #540
It is working with newer osmc? Because you changed the gpio port to 12 instead 18 right?
and you don´t need the dtoverlay? Now i am very confused. Because Openelec users added this to their config. And i have no positive report about osmc >=11.2015
Thank you very much. I don´t own PWM leds so my big hassle is i can´t test anything myself.

[2016-03-19 12:34] mlask commented on #557
+1 -- identical problem in my installation
Tried making few configuration changes, without success. With framegrabber configuration set to 60hz, HDMI output is completely lost. Lowering this value, and the size of framegrabber limits HDMI flickering but still it's unusable. No matter what connection I choose (direct PWM or via Arduino on USB). On the other side - Boblight (standalone, without hype

[2016-03-19 12:35] apurbas commented on #556
Thanks @ntim.
Some updates
I have changed the config file to following & named in config3.
http://www.jsoneditoronline.org/?id=e76e860e66731b65b3c3ce8cce8f6a9e
Its resolving & above errors are gone :+1: , but I find a new issue.
The setup runs lightberry strip or Philips Hue lamp flawless but when I try to start multiple hyperiond from command line, the Hue is static & throws following error.

htt

[2016-03-19 12:38] ntim commented on #556
Mmh, I am not familiar with the lightberry but I guess you are only allowed to have one concurrent connection to the device as it is for most serial devices.

[2016-03-19 12:53] apurbas commented on #556
Can I not use my video grabber (Easycap utv007) to create multiple hyperiond processes and thus  control multiple devices ( Lightberry strip & Philips Hue) as described [here](https://github.com/tvdzwan/hyperion/wiki/Controlling-multiple-devices)?
Lightberry is mere strip (Apa 102). My system is on OpenElec 6.0.0 / Rpi1.

[2016-03-19 12:58] tpmodding commented on #556
no you cannot use the videograbber multiple times...you have to use the forwarder... :/

[2016-03-19 13:08] penfold42 commented on #540
Yes. Works mostly well.
Latest OSMC, rpi3, 281x driver.
Default gpio 18 and it doesn't matter if I have the PWM overlay or not.

I'll open a separate issue with more details, but:
- You MUST use hdmi - with composite, the LEDs  flicker like crazy.
- after a reboot, enabling Hyperion will cause the HDMI to cut in and out. After playing and stopping a video (or I suspect a screensaver) it works fine

[2016-03-19 13:12] penfold42 commented on #556
Good examples of forwarding here:
https://github.com/tvdzwan/hyperion/wiki/Network-and-distributed-features

[2016-03-19 13:17] penfold42 commented on #557
Fascinating - very similar to my issue with PWM LEDs. I presumed it was the ws281x driver at fault.

In my case, if I stop Hyperion, play a movie (stop it if you want) and the start Hyperion it's fine.

[2016-03-19 13:55] penfold42 commented on #557
And, I can replicate it here - I never thought to try 720P just for fun.
It also doesnt matter which driver I use - ws281x or ws2801 so its not tied to the PWM driver.

I'm recompiling without any PWM support to see what happens

[2016-03-19 14:14] penfold42 commented on #557
AHA!
I have 2 separate pi3s and this issue only happens on one of them.

Try setting your grabber height and width to both be 64.
Works:  { "width" : 64, "height" : 64, "frequency_Hz" : 25.0 },
Fails: { "width" : 64, "height" : 16, "frequency_Hz" : 25.0 },

[2016-03-19 14:32] mlask commented on #557
In fact the problem happens not only on higher resolutions (like 1080p or 720p) but on sdtv and others too - it's only harder to see it, because HDMI keeps connection, but the video (or subtitles) is "jumping".

[2016-03-19 15:02] kixounet commented on #557
First of all thanks for the answers ;-) I feel less alone.

I will try to investigate the issue and come back if I have found something.

I have said that cpu usage is below 20% (using top). But does the grabber use the GPU or CPU ?

Maybe that gpu usage is 100% and can't handle the processing of fullhd video + frame grabbing.

Any case, I wil investigate and post here what I have found.

[2016-03-19 15:38] tpmodding commented on #557
Can anybody explain why all of you guys try to run the Framegrabber with 1080p???? 320x240 is enough. Try it...

Von meinem iPhone gesendet

[2016-03-19 17:07] kixounet commented on #557
I am playing 1080p video in Jodi and my grabber settings are 80x45 10fps.

[2016-03-19 22:02] redPanther commented on #551
@emms007 I have a tpm2net branch. You can try mine if you want. My driver is based on qt instead of boost. Perhaps this solve your issue.

[2016-03-19 23:44] penfold42 commented on #557
@tpmodding were talking about the Pi screen resolution being 1080 or 720, not the dispmanx grabber which is much much lower

[2016-03-20 03:38] penfold42 commented on #557
@kixounet can you try height and width both 64 ?

[2016-03-20 04:54] apurbas commented on #556
Thanks @ntim @tpmodding & @penfold42.
I'm now using forwarder in following json ( removed grabber & added forwarder)

http://www.jsoneditoronline.org/?id=b1fd28c36609a2793fe0b0b6714df7da
This works fine i.e. config2 controls my hue [Light Id =4] &default config contols Lightberry/APA LED strip ONLY when I play a media on Kodi.

http://pastebin.com/WPxW1hCe

But Somehow the 2nd config is not readin

[2016-03-20 08:06] Osmii commented on #540
@penfold42 The problem with hdmi seems to be only when playing 1080 p movies, not with 720p or sd!
@brindosch  Yes, im using GPIO 12. Where do i set dtoverlay, i wana try to set it, to see if there is any diference?

[2016-03-20 10:32] kixounet commented on #557
@penfold42 , I have tried it yesterday and I have the same issue.

I can't see anything wrong in the logging of hyperion. I will try to enable the kodi logging and see if something came out.

[2016-03-20 11:03] penfold42 commented on #540
What are your framegrabber settings ?
A height of 16 or less causes this problem.

Have you tried stopping Hyperion, playing a movie and then starting Hyperion ?

[2016-03-20 12:21] tpmodding commented on #556
could you pls post all configs (apart) on pastebin

[2016-03-20 12:43] brindosch commented on #540
@Osmii
`nano /boot/config.txt`
add `dtoverlay=pwm`

@penfold42 I found some information at the rpi overlay readme
[code]

[2016-03-20 13:11] penfold42 commented on #540
Yes, the default for me on OSMC with nothing or with just "dtoverlay=pwm" is 18.

I had seen this previously, but the clock option gives me something to investigate as to why it only works with hdmi for me.

[2016-03-20 15:28] apurbas commented on #556
@tpmodding Here is the original config for Lightberry setup.The external video grabber successfully renders light effects.
http://pastebin.com/6kU6W9d1

This is the config2 ( implementing forwarder etc) to control hue.
http://pastebin.com/WPxW1hCe

[2016-03-20 17:40] tpmodding commented on #556
you kidding me? i need your config, not the output... you need 2 configs
first with your leds connected to your pi, usb grabber config, forwarder(where you SEND infos)
second with the device-type hue (where you RECEIVE infos)

ps: did you pay for lightberry? why they dont help you ;)

[2016-03-20 22:13] kbarnes3 opened #558 "Crash loop with mostly white input"
When the input on my V4L2 grabber is mostly a white screen, Hyperion seems to crash and restart (I see the startup effect, followed by mostly white lights, followed by the startup effect, etc). This only seems to happen with a predominantly white image from the grabber. Using the XBMC plugin or other mechanisms to drive the LEDs does not lead to this crash. When I've got an image that leads to thi

[2016-03-20 23:51] penfold42 commented on #558
Try running hyperiond directly from a shell prompt.
It should spit it all out on the screen.

[2016-03-21 01:22] apurbas commented on #556
oops my mistake
Here is default config http://pastebin.com/6kU6W9d1
Config 2 here http://pastebin.com/DyeCbwBi

[2016-03-21 02:51] kbarnes3 commented on #558
Thanks, that was helpful. I did this, then got my Xbox input into a state where it would crash. These are the lines that were printed right before hyperiond terminated:

[code]

Full console output is available at http://pastebin.com/CsUPk5Pw

[2016-03-21 13:02] alex240188 commented on #550
so after changing the kernel header includes in AmlogicGrabber.cpp

it now starts up correctly however i still cannot grab with amcodec.
the amvideocap appears not to open with the error
"[int AmlogicGrabber::grabFrame(Image<ColorBgr>&)] Failed to open the AMLOGIC device (12): Cannot allocate memory"

here is another log
http://pastebin.com/MGVdXdiM

[2016-03-21 13:04] stefansaraev commented on #550
that means your /dev/amvideocap0 does not work. at all :)

[2016-03-21 13:12] tpmodding commented on #550
tried to start with sudo?

[2016-03-21 13:32] alex240188 commented on #550
well thats dissapointing.
do you think I've missed anything.

checked the DTD file, it now looks like this

amvideocap{
compatible = "amlogic,amvideocap";
dev_name = "amvideocap.0";
status = "okay";
reserve-memory = <0x00800000>;//1920*1088*4
reserve-iomap = "true";
};

changed kernel.conf to add
CONFIG_AM_VIDEOCAPTURE=y

I can see /dev/amvideocap0

any suggestions on how to debug further into why

[2016-03-21 16:29] cmvac opened #561 "Grabber is working but there's no LED lights."
Hi guys, I have a Raspi 2 with a Lightberry kit for the past two years and a Fushicai USBTV007 grabber, which was working flawlessly until I did a factory reset on my instalation and reinstalled the updated Hyperion software. Since then, my grabber simply won't work.

The grabber is working, I just took a snapshot of the captured image. Also I have added the enable-spi-overlay.dtb file on the over

[2016-03-21 20:43] penfold42 commented on #561
Start hyperiond from a command prompt.
The logging will be written to the screen.

[2016-03-21 20:58] cmvac commented on #561
By typing hyperiond on the command line I get this:

-sh: hyperiond: not found
[1]+  Done                       /storage/hyperion/bin/hyperiond.sh /storage/.config/hyperion.config.json 0</dev/null 1>/dev/null 2>&1

Or do you mean the hyperion start command?

/storage/hyperion/bin/hyperiond.sh /storage/.config/hyperion.config.json </dev/null >/dev/null 2>&1 &

[2016-03-22 15:11] apurbas commented on #556
Implemented forwards. Could any one guide me why are these not working for external grabbers?
http://pastebin.com/1qtc6AWe
http://pastebin.com/b6wC0wj1
Works fine when I play a media on Kodi though..

[2016-03-22 16:55] Osmii commented on #540
@penfold42 My framegrabber value is 45, and there is no diffrerenc when starting stoping movie!
@brindosch No difference with dtoverlay.

[2016-03-22 19:11] cmvac commented on #561
@penfold42

Could you please give me the full hyperiond log command? I can't find it anywhere...

[2016-03-22 20:14] mlask commented on #557
Setting framegrabber to 64x64, even with 10fps, changes nothing. And there's no difference when I set driver to "ws281x" (pwm) nor "adalight" (usb).

[2016-03-22 20:54] penfold42 commented on #561
Try this:
/storage/hyperion/bin/hyperiond /storage/hyperion/config/hyperion.config.json

I don't use openelec so I'm guessing

[2016-03-22 21:11] cmvac commented on #561
@penfold42

Ok, I got this message:

/storage/hyperion/bin/hyperiond: error while loading shared libraries: libQtGui.so.4: cannot open shared object file: No such file or directory
[1]+  Done                       /storage/hyperion/bin/hyperiond.sh /storage/.config/hyperion.config.json 0</dev/null 1>/dev/null 2>&1

[2016-03-22 21:20] cmvac commented on #561
Also, it point to /storage/hyperion/config/hyperion.config.json but the personalized config files are in /storage/.config/hyperion.config.json.

[2016-03-22 21:22] cmvac commented on #561
So here's the log with the right folder:

Application build time: Mar 15 2016 13:18:29
QCoreApplication initialised
Selected configuration file: /storage/.config/hyperion.config.json
ColorTransform 'default' => [0; 51]
Device configuration:
{
        "colorOrder" : "rgb",
        "name" : "MyPi",
        "output" : "/dev/spidev0.0",
        "rate" : 1000000,
        "type" : "lightberry"
}

Creati

[2016-03-22 23:23] brindosch commented on #416
Please use the new WS281x device.
If you are using osmc please reinstall/update with the osmc wiki guide(!!!)
To be sure everything is setting up right you have to start the script with a arguement
`./install_hyperion.sh WS281X`

[2016-03-22 23:25] brindosch commented on #298
Closed

[2016-03-22 23:25] #298 closed

[2016-03-22 23:27] brindosch commented on #292
Closed
due to age, please open a new one if problem still exists

[2016-03-22 23:27] #292 closed

[2016-03-22 23:27] brindosch commented on #263
this is done, the new install script should all handle with OE x64 and x32

[2016-03-22 23:27] #263 closed

[2016-03-22 23:32] brindosch commented on #406
You still have no answer, and it seems no one knows. The dev should answer this ;)
I will close this. You could fork hyperion and remove the value and test again. I am sure this is the fastest solution.

I will close this

[2016-03-22 23:32] #406 closed

[2016-03-23 00:09] brindosch commented on #433
As long as we have no Krypton Alpha. I am not sure if this make sense to fix. (More changes?!)
@iLLiac4
Could you have a look?
I will close this issue.

[2016-03-23 00:09] #433 closed

[2016-03-23 00:12] brindosch commented on #451
Kodi Krypton is at least not Alpha. If someone wants to fix it. Just could do it ;)
But i see no hurry

[2016-03-23 00:21] brindosch commented on #461
Due to the point it is not Hyperion related. I would suggest to close it.
@Daniel6803 @Petoodle
How is your state?

[2016-03-23 00:23] brindosch commented on #467
I am sorry but we can´t help you. And no other one left a feedback so i would close it.
Thank you

[2016-03-23 00:23] #467 closed

[2016-03-23 00:24] brindosch commented on #478
Yes, it is no real issue on hyperion side. I will close it

[2016-03-23 00:24] #478 closed

[2016-03-23 00:25] brindosch commented on #546
/Closed

[2016-03-23 00:25] #546 closed

[2016-03-23 00:28] brindosch commented on #525
The new installer should do all necessary steps now. Just read at the OpenELEC/OSMC section!
If you have problems, please try first a update with the install script.
/closed

[2016-03-23 00:28] #525 closed

[2016-03-23 00:42] brindosch commented on #488
So you are using the Hyperion Kodi plugin. There are problems with devices that uses that hw blobs. I am sure there will never be a clean solution for this. Due to the point that rockchip have a very bad reputation (open source/documentation access) (in terms of software).

I am sorry. If someone find a solution, don´t hesitate to submit it.
/Closed

[2016-03-23 00:42] #488 closed

[2016-03-23 00:46] brindosch commented on #540
I am sure @penfold42 investigates this :)
But this may not be a fault of Hyperion the new ws281x driver is still new :)

[2016-03-23 00:50] brindosch commented on #536
All new pull request will be redirected to the Beta branch, where we could test everything until it is inside master.
@penfold42 some good ideas, but who will could setting this up and invest the testing time?
I can´t
I will test everything that is new and i can test (hardware) in the Beta branch.

[2016-03-23 00:53] brindosch commented on #555
It is now possible to include the amount leds (quick and dirty solution) to the config with hypercon
/Closed

[2016-03-23 00:53] #555 closed

[2016-03-23 00:57] brindosch commented on #451
@meowmoo
How is your status?
Installed latest version, still the same error? on OE chromebox?

[2016-03-23 01:11] brindosch commented on #561
Seems good to far. There was a priority cleanup that make it possible to configure all grabber prioritys.
The default value for internal is 900 (If it is not configured - you have to add this by hand ou with hypercon)
your v4l2 is at `"priority" : 1100,`
lower the priority of your v4l2 below 900
The lower the value the higher is the priority

[2016-03-23 01:16] brindosch commented on #558
@kbarnes3
`VIDIOC_DQBUF error 19, No such device`
Is more a hardware fault or power problem.
You say it is more on white screen? All you leds are on and the power consumption is high.
Your may need more power!

[2016-03-23 02:12] kbarnes3 commented on #558
I don't think the problem is with my LEDs. I can run through the same content using the Kodi plugin instead of the V4L2 grabber without a problem. I'm trying to rule out a hardware problem with the capture card I'm using by ordering another one from a different brand.

[2016-03-23 06:19] penfold42 commented on #555
And I upped the default PWM imposed maximum to 256 rather than 12 in my recent commit

[2016-03-23 07:13] Petoodle commented on #461
Still the same. You may close this. Thank you for all your warm help!
Op 23 mrt. 2016 01:21 schreef "brindosch" <notifications@github.com>: